<!DOCTYPE html>
<html>
  <head>
    <title>Geolocation</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 100%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>
  </head>
  <body>
    <!--<p>{{someDjangoVariable}}</p>-->
    <div id="map"></div>
    <script>
      var a = JSON.parse('{{someDjangoVariable|safe}}');
      var b = JSON.parse('{{zamkniete|safe}}');

       console.log(a);


            var citymap = {
        chicago: {
          center: {lat: 41.878, lng: -87.629},
          population: 2714856
        },
        newyork: {
          center: {lat: 40.714, lng: -74.005},
          population: 8405837
        },
        losangeles: {
          center: {lat: 34.052, lng: -118.243},
          population: 3857799
        },
        wilanowska: {
          center: {lat: 52.1815113, lng: 21.02057849},
          population: 6 // niech ma dwa zrodla
        }
      };       console.log(citymap);

      // Note: This example requires that you consent to location sharing when
      // prompted by your browser. If you see the error "The Geolocation service
      // failed.", it means you probably did not give permission for the browser to
      // locate you. //najlatwiej przerobic combining data
      var map, infoWindow;
      function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
          
          center: {lat: 52.234, lng: 21.108},
          zoom: 15
        });
        var script = document.createElement('script');
        script.src = '/static/new_file.js';
        document.getElementsByTagName('head')[0].appendChild(script);

        map.data.setStyle(function(feature) {
          var magnitude = feature.getProperty('mag');
          return {
            icon: getCircle(magnitude)
          };
        });        
  
      function getCircle(magnitude) {
        return {
          path: google.maps.SymbolPath.CIRCLE,
          fillColor: 'red',
          fillOpacity: .2,
          scale: Math.pow(2, magnitude) / 2,
          strokeColor: 'white',
          strokeWeight: .5
        };
      }  
        
        infoWindow = new google.maps.InfoWindow;
        infoWindow2 = new google.maps.InfoWindow;

        // Try HTML5 geolocation.
        if (navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(function(position) {
            var pos = {
              lat: position.coords.latitude,
              lng: position.coords.longitude
            };

            infoWindow.setPosition(pos);
            infoWindow.setContent('Location found.');
            infoWindow.open(map);
            map.setCenter(pos);
          }, function() {
            handleLocationError(true, infoWindow, map.getCenter());
          });
        } else {
          // Browser doesn't support Geolocation
          handleLocationError(false, infoWindow, map.getCenter());
        }
                map.data.loadGeoJson('/static/sample.js');
                        for (var city in citymap) {
          // Add the circle for this city to the map.
          var cityCircle = new google.maps.Circle({
            strokeColor: '#FF0000',
            strokeOpacity: 0.8,
            strokeWeight: 2,
            fillColor: '#FF0000',
            fillOpacity: 0.35,
            map: map,
            center: citymap[city].center,
            radius: Math.sqrt(citymap[city].population) * 100
          });
        }
                        for (var city2 in a) {
          // Add the circle for this city to the map.
          var cityCircle2 = new google.maps.Circle({
            strokeColor: '#FF0000',
            strokeOpacity: 0.8,
            strokeWeight: 2,
            fillColor: '#FF0000',
            fillOpacity: 0.35,
            map: map,
            center: a[city2].center,
            radius: Math.sqrt(a[city2].population) * 100
          });
          console.log(city2);
          infoWindow2 = new google.maps.InfoWindow();
          infoWindow2.setPosition(a[city2].center);
          infoWindow2.setContent(city2+' zamkniete');
          infoWindow2.open(map);
          //infoWindow3 = new google.maps.InfoWindow;
          //infoWindow3.setPosition(a[city2].center);
          //infoWindow3.setContent('zamkniete');
          //infoWindow3.open(map);  
          //console.log(cityCircle2);
        }
        
      for (var city3 in b) {
          infoWindow3 = new google.maps.InfoWindow;
          infoWindow3.setPosition({lat: 52.234, lng: 21.108});
          infoWindow3.setContent(city3+' zamkniete');
          infoWindow3.open(map);
          }
      }

      function handleLocationError(browserHasGeolocation, infoWindow, pos) {
        infoWindow.setPosition(pos);
        infoWindow.setContent(browserHasGeolocation ?
                              'Error: The Geolocation service failed.' :
                              'Error: Your browser doesn\'t support geolocation.');
        infoWindow.open(map);
      }
            window.eqfeed_callback = function(results) {
              map.data.loadGeoJson('/static/sample.js');
              map.data.addGeoJson(results);
        for (var i = 0; i < results.features.length; i++) {
          var coords = results.features[i].geometry.coordinates;
          var latLng = new google.maps.LatLng(coords[1],coords[0]);
          var marker = new google.maps.Marker({
            position: latLng,
            map: map
          });
        }
      }

      function eqfeed_callback(results) {
        map.data.addGeoJson(results);
      }
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDy2iUTqbsK8Ez5Mx1nd0VECrsYu-cxAx4&callback=initMap">
    </script>
  </body>
</html>
