article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary{display:block}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td{margin:0;padding:0}
table{border-collapse:collapse;border-spacing:0;clear:both}
fieldset,img{border:0}
address,caption,cite,code,dfn,th,var{font-style:normal;font-weight:normal}
caption,th{text-align:left}
q:before,q:after{content:''}
abbr,acronym{border:0;border-bottom:1px dotted #000;cursor:help}
html{overflow-y:scroll}
html.aui-dialog-iframe-root-node{overflow:auto}
body{background:#FFF;font:62.5%/1.4 Arial,Helvetica,Verdana,sans-serif}
body.portal-popup{background:0;padding:10px}
body.aui-dialog-iframe-popup{padding-bottom:0}
body.portal-iframe{padding:0}
blockquote,ul,ol,dl{margin:1em}
ol,ul,dl{margin-left:2em}
ol{list-style:decimal outside}
ul{list-style:disc outside}
ul ul{list-style-type:circle}
ol ol{list-style-type:upper-roman}
dl dd{margin-left:1em}
th{font-weight:bold}
caption{margin-bottom:.5em;text-align:center}
p{margin-bottom:1em}
h1{font-size:1.8em}
h2{font-size:1.6em}
h3{font-size:1.4em}
h1,h2,h3{margin:1em 0}
h4,h5,h6{font-size:1.1em}
h1,h2,h3,h4,h5,h6,strong{font-weight:bold}
.logo{display:inline-block;line-height:1;vertical-align:middle}
body.html-editor{background:#FFF;color:#000}
.html-editor.portlet-message-boards{-ms-word-break:break-all;word-break:break-all;word-break:break-word;-webkit-hyphens:auto;-moz-hyphens:auto;hyphens:auto;word-wrap:break-word}
.html-editor.portlet-message-boards blockquote{background:#eef0f2 url(../images/message_boards/quoteleft.png) no-repeat 5px 5px;border:1px solid #777;position:relative;padding:5px 45px}
.html-editor.portlet-message-boards blockquote:after{background:url(../images/message_boards/quoteright.png) no-repeat 50%;bottom:5px;content:'';display:block;height:24px;position:fixed;right:5px;width:31px;z-index:999}
.html-editor.portlet-message-boards blockquote cite{display:block;font-weight:bold}
.html-editor.portlet-message-boards pre{background:#f9f9f9;border:1px solid #777;padding:.5em}
b,strong{font-weight:bold}
i,em{font-style:italic}
code,pre{font-family:"Courier New",Courier,monospace;white-space:pre}
.important{font-weight:bold}
.portal-iframe #main-content{width:100%}
.alert-background{background:#000}
.popup-alert-notice{background-color:#FFC;border-bottom-color:#FC0}
.popup-alert-warning{background-color:#FDD;border-bottom-color:#F00}
.portal-add-content{background:#FFF;text-align:left;z-index:20}
.portal-add-content a{text-decoration:none}
.loading-animation{background:url(../images/progress_bar/loading_animation.gif) no-repeat top center;margin-top:10px;padding-top:40px;text-align:left}
hr,.separator{border-top:1px dotted #bfbfbf}
.update-available{margin-top:10px;padding:2px;text-align:left}
.highlight{background:#FFC;font-weight:bold;margin:0 1px}
.rtl caption,.rtl th{text-align:right}
.rtl .portal-add-content{text-align:right}
.aui-state-default{background:#d4d4d4 url(../images/portlet/header_bg.png) repeat-x 0 0;border:1px solid;border-color:#c8c9ca #9e9e9e #9e9e9e #c8c9ca}
.aui-state-hover{background:#b9ced9 url(../images/application/state_hover_bg.png) repeat-x 0 0;border-color:#627782}
.aui-state-active{background:#ebebeb url(../images/application/state_active_bg.png) repeat-x 0 0;border-color:#555}
.results-grid{background:#FFF;border:solid #d7d7d7;border-width:0 1px}
.results-header{background:#d1d6dc}
.results-header th{background:#d9d9d9 url(../images/application/subheader_bg.png) 0 0 repeat-x;border:1px solid #ccc}
.results-header th.sort-column{background:#ebebeb url(../images/application/state_active_bg.png) 0 0 repeat-x;border:1px solid #ccc;color:#1f1e1e}
.results-header th.sort-column .result-column-name{background:url(../images/arrows/05_up.png) no-repeat 100% 50%;display:inline-block;font-style:italic;padding-right:15px}
.results-header th.first{border-left-width:0}
.results-header th.last{border-right-width:0}
.results-header th,.results-header td{color:#7b7c7f;padding:5px 10px;word-wrap:break-word}
.results-header th.sort-desc .result-column-name{background:url(../images/arrows/05_down.png) no-repeat 100% 50%;display:inline-block;font-style:italic;padding-right:15px}
.results-header span,.results-header a{display:block}
.results-header a{color:#154b75;text-decoration:none}
.results-header a:hover{color:#369;text-decoration:underline}
.results-row td{background:0;border:1px solid;border-color:#d7d7d7 #e7e7e7;padding:5px 10px}
.results-row td.sort-column{background:#e6ecef}
.results-row.selected td,.results-row.selected.hover td{background-color:#00a2ea;border-color:#00a2ea #00a2ea #d7d7d7;color:#FFF}
.results-row.selected td a,.results-row.selected.hover td a{color:#FFF}
.results-row.alt.selected td,.results-row.alt.selected.hover td{background-color:#00a2ea}
.results-row.alt td{background:#f5f8fb}
.results-row.hover td{background:#d3e8f1;border-bottom-color:#d7d7d7;border-left-color:transparent;border-right-color:transparent}
.taglib-search-iterator .results-row td.first,.taglib-search-iterator .results-row th.first{border-left-width:0}
.taglib-search-iterator .results-row td.last,.taglib-search-iterator .results-row th.last{border-right-width:0}
.portlet-layout.dragging{border-collapse:separate}
.drop-area{background-color:#d3dadd}
.active-area{background:#FFC}
.portlet-boundary.yui3-dd-dragging{opacity:.6}
.portlet-boundary.yui3-dd-dragging .portlet{border:2px dashed #ccc}
.aui-portal-layout-proxy{opacity:1!important}
.aui-portal-layout-proxy .portlet-topper{background-image:none}
.aui-proxy{cursor:move;opacity:.65;position:fixed}
.aui-proxy.generic-portlet{height:200px;width:300px}
.aui-proxy.generic-portlet .portlet-title{padding:10px}
.aui-proxy.not-intersecting .forbidden-action{background:url(../images/application/forbidden_action.png) no-repeat;display:block;height:32px;position:fixed;right:-15px;top:-15px;width:32px}
.aui-resizable-proxy{border:1px dashed #828f95;position:fixed;visibility:hidden}
.aui-sortable-proxy{background:#727c81;margin-top:1px}
.lfr-freeform-layout-drag-indicator{visibility:hidden}
.aui-portal-layout-drag-target-indicator{margin:2px 0}
.aui-tooltip{max-width:200px}
.aui-tagselector-content{border-width:0;margin-bottom:15px;padding:0}
.aui-tagselector-content .aui-textboxlistentry-holder{background:#fff;border:1px solid;border-color:#bfbfbf #dedede #dedede #bfbfbf;margin-bottom:5px;padding:5px;position:relative;overflow:visible}
.aui-tagselector .lfr-tag-selector-input{background:0;padding:0;width:auto}
.aui-tagselector .aui-field .aui-field-content{margin:0}
.aui-tagselector .aui-toolbar{margin-top:5px}
.aui-tagselector .aui-textboxlist-input-container{margin:0}
.aui-tagselector-focused .aui-textboxlistentry-holder{background:#FFC none;border:1px solid #FC0}
.aui-categoriesselector-content .aui-textboxlistentry-holder{background-color:transparent;border-width:0;padding:0}
.tag-items{list-style:none;margin:0 1em 0 0;padding:0 1em .5em 1em;white-space:normal}
.tag-items li{display:inline;float:left;margin:0 1em 0 0}
.tag-items a{white-space:nowrap}
.tag-cloud{line-height:2.5em}
.tag-cloud .tag-asset-count{clip:rect(0 0 0 0);position:fixed}
.tag-selected{color:#000;font-weight:bold;text-decoration:none}
.tag-cloud{line-height:2.5em}
.tag-cloud .tag-asset-count{clip:rect(0 0 0 0);position:fixed}
.tag-cloud .tag-popularity-1{font-size:1em}
.tag-cloud .tag-popularity-2{font-size:1.3em}
.tag-cloud .tag-popularity-3{font-size:1.6em}
.tag-cloud .tag-popularity-4{font-size:1.9em}
.tag-cloud .tag-popularity-5{font-size:2.2em}
.tag-cloud .tag-popularity-6{font-size:2.5em}
.aui-underlay{clear:both;top:100%}
.aui-underlay .yui3-widget-hd{height:38px}
.aui-underlay .lfr-portlet-item{border-width:0}
.aui-underlay-hidden{display:none}
.aui-underlay-content{background:#f4f3f3 url(../images/common/message_panel_shadow.png) repeat-x 0 0;border:0 solid #aeafb1;border-width:0 1px 1px}
.aui-underlay-close{position:fixed;right:5px;top:5px}
.aui-tab-active strong{font-weight:normal}
.aui-tab-back{float:right}
.aui-tab-back-content{border-width:0;padding:1px}
.lfr-panel-container{background:transparent}
.lfr-panel-container{background:#FFF}
.lfr-panel-content{padding:5px 10px}
.lfr-panel-basic .lfr-panel-content{padding-left:15px}
.aui-dialog-bd{min-height:30px}
.aui-dialog-content{border:1px solid #c8c9ca;padding:5px}
.aui-panel-hd{background:#c0c2c5 url(../images/application/panel_header_bg.png) repeat-x 0 0;border:1px solid;border-color:#c8c9ca #aeb2b8 #aeb2b8 #c8c9ca;padding-left:10px;text-shadow:1px 1px #FFF}
.lfr-actions.portlet-options .lfr-trigger strong span,.visible.portlet-options .lfr-trigger strong span{background-image:url(../images/portlet/options.png)}
.lfr-actions.portlet-options:hover,.lfr-actions.portlet-options:hover ul{background:transparent}
.lfr-menu-list{z-index:450}
.aui-menu{position:fixed;width:auto}
.aui-menu .notice-message{background-image:none;margin:3px;padding:6px}
.aui-menu-content{background:#FFF;list-style:none;min-width:150px}
.aui-menu-content li{margin:0;padding:0}
.aui-menu-content li .disabled{color:#999}
.aui-menu-content,.lfr-menu-list ul{background:#ccc9c9 url(../images/application/menu_bg.png) repeat-x 0 0;border:1px solid;border-color:#aeafb1 #777879 #777879 #aeafb1;padding:2px 0}
.aui-menugroup-content .aui-menu-label{background:#d2d6de;color:#5b677d;display:block;font-weight:bold;padding:5px 3px;text-shadow:1px 1px #FFF}
.aui-menugroup-content ul,.lfr-menu-list ul ul{display:block;min-width:0}
.aui-menu-content li,.lfr-menu-list ul li{border-bottom:1px solid #bcbbbb;border-top:1px solid #EEE;display:block;margin:0;padding:0}
.aui-menu-content li.first,.lfr-menu-list ul li.first{border-top-width:0}
.aui-menu-content li.last,.lfr-menu-list ul li.last{border-bottom-width:0}
.aui-menu-content li a,.lfr-menu-list ul li .taglib-icon,.aui-menu-content li .disabled{color:#2c2f34;display:block;padding:4px 5px;text-decoration:none}
.lfr-menu-list ul li.disabled .taglib-icon{color:#666}
.aui-menu-content li a.aui-focus,.lfr-menu-list ul .taglib-icon.aui-focus,.lfr-menu-expanded li a:focus{background-color:#5b677d;color:#FFF;text-shadow:-1px -1px #2c2f34}
.aui-menu-content a,.lfr-menu-list li .taglib-icon,.aui-menu-content .disabled,.lfr-actions .lfr-trigger,.lfr-actions .lfr-trigger strong{font-weight:bold;text-shadow:1px 1px 0 0 #FFF}
.aui-toolbar li{display:inline-block;margin:0;margin-left:10px;padding:0;vertical-align:middle}
.aui-toolbar-separator{background:url(../images/dockbar/separator.png) no-repeat 100% 50%;border-width:0;cursor:default;font-size:1px;height:16px;margin:0 2px;overflow:hidden;vertical-align:middle;width:4px}
.aui-loadingmask-content{background:#CCC}
.aui-loadingmask-message{background:#d4d4d4 url(../images/portlet/header_bg.png) repeat-x 0 0}
.aui-tree-node-selected .aui-tree-label{background-color:transparent;font-weight:bold}
.aui-dragging .portlet-column.customizable{background-color:#cffccf;outline:3px solid #9cc97b}
.customizable-layout-column-content{background-color:#c92c3c}
.customizable-layout-column-content.yui3-widget-content-expanded{border:3px solid #333;margin:.2em}
.customizable .customizable-layout-column-content{background-color:#9cc97b}
.layout-customizable-controls{background-color:#FFF;font-size:1.5em;margin:1em;opacity:.9;padding:1em;position:fixed;z-index:15}
.aui-paginator-link{background:#eee url() no-repeat scroll 50% 1px;border:1px solid #f0f1f2;border-color:#f0f1f2 #b2b2b2 #949494 #f0f1f1;color:#1f1e1e;display:inline-block;height:20px;padding:0;text-indent:-9999px;width:20px}
.aui-paginator-page-link{height:auto;text-indent:0}
.aui-paginator-current-page{background:#0083bd url(../images/application/paginator_link_current_bg.png) 0 0 repeat-x;border-color:#38b6ef #006d9e #006d9e #46b4e6;color:#FFF;text-shadow:-1px -1px #003c57}
.aui-paginator-first-link{background-image:url(../images/arrows/paging_first.png)}
.aui-paginator-prev-link{background-image:url(../images/arrows/paging_previous.png)}
.aui-paginator-last-link{background-image:url(../images/arrows/paging_last.png)}
.aui-paginator-next-link{background-image:url(../images/arrows/paging_next.png)}
.aui-paginator-current-page-report,.aui-paginator-total{font-size:.9em;color:#555}
.aui-paginator-current-page-report{margin-left:2em}
.taglib-page-iterator .search-pages .page-links{padding:0}
.lfr-app-column-view{border:1px solid #c9c9c9}
.lfr-app-column-view .aui-layout-content{position:relative}
.lfr-app-column-view .aui-column:before{border-right:1px solid #c9c9c9;bottom:0;content:"";margin-left:-1px;position:fixed;top:0}
.lfr-app-column-view .aui-column-content{border-right:1px solid transparent}
.lfr-app-column-view .aui-column-content .lfr-message-response{margin:10px}
.lfr-header-row{background:#8f8f8f url(../images/application/header_row_bg.png) 0 0 repeat-x}
.lfr-header-row .lfr-actions.show-arrow.direction-down .lfr-trigger strong a{background:url(../images/arrows/08_down.png) 100% -5px no-repeat}
.lfr-header-row .aui-toolbar .aui-toolbar-content{white-space:normal;word-wrap:normal}
.lfr-header-row .aui-toolbar .aui-toolbar-item{border-right-width:0}
.lfr-header-row .aui-toolbar .aui-toolbar-last{border-right-width:1px}
.ie6 .lfr-header-row .aui-buttonitem-content .aui-buttonitem-label,.ie7 .lfr-header-row .aui-buttonitem-content .aui-buttonitem-label{white-space:nowrap}
.portlet-layout{border-collapse:collapse;clear:both;display:table;border-spacing:0;table-layout:auto;width:100%}
.portlet-column{display:table-cell;vertical-align:top}
.portlet-column-content{padding:5px}
.portlet-column-content-only,.ltr .portlet-column-content-first,.rtl .portlet-column-content-last{padding-left:0}
.portlet-column-content-only,.ltr .portlet-column-content-last,.rtl .portlet-column-content-first{padding-right:0}
.portlet-column-content.empty{padding:50px}
#main-content.dragging .portlet-column{border:3px double #828f95;height:100px;min-height:100px}
.portlet-dockbar,.portlet-staging-bar{background:url(../images/application/loading_indicator.gif) no-repeat 50%}
.portlet-dockbar{background-color:#e0e7f1;border-bottom:1px solid #636364}
.dockbar,.staging-bar{visibility:hidden}
.dockbar-ready .dockbar,.staging .staging-bar,.live-view .staging-bar{visibility:visible}
.dockbar-ready .portlet-dockbar,.staging-ready .portlet-staging-bar,.portal-popup .portlet-dockbar,.portal-popup .portlet-staging-bar{background:0;border-width:0}
.dockbar{background:#97a1ae url(../images/dockbar/dockbar_bg.png) repeat-x 0 0;border-bottom:1px solid #636364;font-size:13px;padding:1px 5px;position:relative;z-index:300}
.dockbar:after{clear:both;content:".";display:block;height:0;visibility:hidden}
.dockbar a,span.user-portrait{color:#2c2f34;font-weight:bold;text-shadow:1px 1px #FFF}
.dockbar .menu-button-active{background:#5c94da url(../images/dockbar/button_active_bg.png) repeat-x 0 0}
.dockbar .menu-button-active a{color:#FFF;text-shadow:-1px -1px #2c2f34}
.dockbar .user-avatar .sign-out{font-size:.8em;padding-left:0}
.dockbar ul{margin:0;padding:0}
.dockbar li li{margin-left:0}
html>.lfr-dockbar-pinned{padding-top:3.45em}
.lfr-dockbar-pinned .dockbar{left:0;position:fixed;right:0;top:0}
.dockbar .pin-dockbar{margin-left:0}
.pin-dockbar img{background:url(../images/dockbar/pin.png) no-repeat 0 0;height:27px;vertical-align:middle;width:27px}
.lfr-dockbar-pinned .pin-dockbar img{background-image:url(../images/dockbar/unpin.png)}
.dockbar a.user-portrait{text-decoration:none}
.dockbar a.user-portrait span{text-decoration:underline}
.dockbar .user-portrait img{text-decoration:none;vertical-align:middle;width:25px}
.dockbar .user-avatar img{vertical-align:middle;width:25px}
.dockbar .impersonating-user{background:url(../images/messages/alert.png) no-repeat 0 50%;padding-left:20px}
.dockbar .impersonating-user .user-links a{color:#999}
.variation-selector{display:block;font-weight:bold;font-size:1.2em;margin:1em}
.layout-revision-container{margin:1em 0 0 1em;padding:0}
.layout-revision-container .approximate-date{color:#999;font-weight:bold}
.layout-revision-container .current-version{color:#41801d;display:block}
.layout-revision-container .current-version-pointer{display:inline-block;width:0}
.layout-revision-container .current-version-pointer img{left:-25px;position:relative}
.layout-revision-container .layout-variation-name{color:#666;font-size:1.15em;margin-bottom:.1em;text-transform:uppercase}
.layout-revision-container .layout-revision-current{color:#666}
.layout-revision-container .real-date{color:#999;display:block;text-align:right}
.layout-revision-container .taglib-workflow-status .workflow-status{background:0;padding-left:0}
.layout-revision-container .taglib-workflow-status .workflow-status .workflow-status-ready-for-publication{color:#41801d;font-weight:bold}
.layout-revision-container-root{margin:0}
.staging-details{background:url() no-repeat 0 0;padding-left:65px;min-height:50px}
.staging .staging-details{background-image:url(../images/staging_bar/staging.png)}
.live-view .staging-details{background-image:url(../images/staging_bar/live.png)}
.staging .staging-tabview-list{background-color:#ffdba6}
.live-view .staging-tabview-list{background-color:#c4f0bc}
.aui-dockbarmenu-hidden{visibility:hidden}
.dockbar .admin-toolbar{float:left}
.dockbar .user-toolbar{float:right}
.aui-underlay .portal-add-content{background-color:transparent;font-size:11px}
.aui-underlay .portal-add-content .portlet-dd-placeholder{display:none}
.add-application .yui3-widget-bd,.dockbar-messages .yui3-widget-bd{padding:0 10px 10px}
.add-application{left:10px!important}
.lfr-has-sidebar #main-content{padding-left:220px}
.manage-layouts{left:60px!important}
.my-sites-menu{max-width:350px}
.my-sites-menu ul{list-style:none;max-height:300px;overflow:auto}
.my-sites-menu ul,.my-sites-menu li{display:block;margin:0;padding:0}
.my-sites-menu a{display:block;overflow:hidden;text-align:right;white-space:nowrap}
.my-sites-menu .control-panel a{background:url(../images/dock/control_panel.png) no-repeat 3px 50%;padding-left:25px}
.my-sites-menu .current-site{border:solid #1d4280;border-width:1px 0}
.my-sites-menu .current-site a{background:#3068ba url(../images/arrows/01_right.png) no-repeat scroll 2px 30%;color:#FFF;padding-left:20px;text-shadow:1px 1px #333}
.my-sites-menu .current-site .site-type{color:#FFF}
.my-sites-menu .current-site a:hover,.my-sites-menu a:hover .site-type{color:#FFF;text-shadow:1px 1px #333}
.my-sites-menu .site-name{cursor:pointer;float:left}
.my-sites-menu .site-type{color:#777;float:right;font-size:.8em;font-weight:normal;margin-left:10px}
.my-sites-menu a:hover .site-type{color:#FFF}
.dockbar .toggle-controls a{background:url(../images/dockbar/checked.png) no-repeat 0 50%;padding-left:20px}
.controls-hidden .toggle-controls a{background-image:url(../images/dockbar/unchecked.png)}
.toggle-controls a{background-image:url(../images/dockbar/unchecked.png)}
.dockbar .menu-button{background:url(../images/arrows/05_down.png) no-repeat 93% 50%;display:inline-block;padding:5px 20px 5px 5px;text-decoration:none}
.dockbar .menu-button span{background:url() no-repeat 0 50%;padding-left:20px}
.dockbar .add-content .menu-button span{background-image:url(../images/common/add.png)}
.dockbar .manage-content .menu-button span{background-image:url(../images/dockbar/settings.png)}
.dockbar .my-sites .menu-button span{background-image:url(../images/dockbar/places.png)}
.dockbar-messages-container{left:50%;margin-left:-150px}
.dockbar-messages{width:300px}
.showing-messages .dockbar-messages{display:block}
.multiple-messages .dockbar-message{border-top:1px solid #CCC;padding:5px 0}
.multiple-messages .first{border-top-width:0;padding-top:0}
.add-content-menu .add-page a{background:url(../images/navigation/add_page.png) no-repeat 3px 50%;padding-left:25px}
.add-content-menu .add-application a{background:url(../images/common/portlet.png) no-repeat 3px 50%;padding-left:25px}
.add-content-menu a.lfr-portlet-used{color:#999;cursor:auto}
.manage-content-menu li a,.manage-content-menu li .disabled{background:url() no-repeat 3px 50%;padding-left:25px}
.manage-content-menu .manage-page a{background-image:url(../images/dock/page_settings.png)}
.manage-content-menu .manage-site-content a{background-image:url(../images/common/site_icon.png)}
.manage-content-menu .manage-site-memberships a{background-image:url(../images/common/assign.png)}
.manage-content-menu .manage-page-customization a,.manage-content-menu .manage-page-customization .disabled{background-image:url(../images/dock/customizations.png)}
.manage-content-menu .page-layout a{background-image:url(../images/dock/layout.png)}
.manage-content-menu .sitemap a{background-image:url(../images/common/sitemap.png)}
.manage-content-menu .settings a{background-image:url(../images/common/configuration.png)}
.page-customization-bar{background-color:#999;color:#FFF;font-size:1.2em;font-weight:bold;min-height:30px;padding:5px}
.controls-hidden .page-customization-bar{display:none}
.page-customization-bar .customized-icon{margin:5px;vertical-align:middle}
.page-customization-bar .page-customization-actions{padding-left:5em}
.page-customization-bar .page-customization-actions a{color:#EEE;font-size:.8em;padding:0 1em}
.page-customization-bar .reset-prototype{display:inline;padding-left:1em}
.rtl .dockbar .admin-toolbar{float:right}
.rtl .dockbar .user-toolbar{float:left}
.rtl .dockbar .menu-button{background-position:7%;padding-left:0;padding-right:5px}
.rtl .dockbar .menu-button span{background-position:right;padding-right:20px}
.rtl .my-sites-menu .site-name{float:right}
.rtl .my-sites-menu .site-type{float:left;margin-right:10px}
.rtl .my-sites-menu .control-panel a{background-position:right;margin-right:3px;padding-right:25px}
.modify-pages li{position:relative}
.modify-pages .delete-tab{background:#333 url(../images/portlet/close_borderless.png) no-repeat 50%;cursor:pointer;display:block;height:8px;margin-top:-7px;padding:3px;position:fixed;right:1px;text-indent:-9999em;top:50%;width:8px}
.nav-menu ul{padding-left:10px}
.nav-menu li a.ancestor{font-weight:bold}
.nav-menu li a.selected{color:#000;font-weight:bold;text-decoration:none}
.aui-form-options{border:1px solid #AAA;display:inline-block;vertical-align:middle}
.aui-form-options input{border-width:0;display:inline;float:left}
.aui-form-triggers{float:left}
.aui-form-trigger{background:#c4c4c4 url(../images/application/button_bg.png) repeat-x 0 0;border-left:1px solid #BBB;display:inline-block;float:left}
.aui-form-trigger img{background:url() no-repeat 50% 40%;height:25px;padding:0 3px;vertical-align:middle;width:16px}
.aui-form-trigger:hover,.aui-form-trigger:focus{background-color:#83b0ca;background-image:url(../images/application/button_bg_over.png)}
.aui-trigger-selected{background-color:#ebebeb;background-image:url(../images/application/button_bg_selected.png)}
.aui-trigger-selected:hover,.aui-trigger-selected:focus{background-color:#b7def4;background-image:url(../images/application/button_bg_selected_over.png)}
.aui-options-trigger img{background-image:url(../images/common/configuration.png)}
.aui-save-trigger img{background-image:url(../images/dock/my_place_current.png)}
.freeform .portlet{margin-bottom:0}
body.portlet{border:0}
.portlet-topper{position:relative}
.portlet-title{display:block;font-size:1em;margin:0}
.portlet-title img{vertical-align:middle}
.portlet-title-editable{cursor:pointer}
.panel-page-content .portlet-title-text,.panel-page-body .portlet-title-text{cursor:auto}
.portlet-topper-toolbar{margin:0;padding:2px;position:fixed;right:3px;text-align:right;top:3px}
.portlet-topper-toolbar .nobr{display:block;float:left;padding:1px}
.portlet-content,.portlet-minimized .portlet-content-container{padding:12px 10px 10px}
.portlet-minimized .portlet-content{padding:0}
.portlet-icon-back{background:url(../images/arrows/01_left.png) no-repeat 0 50%;font-weight:bold;padding:5px 5px 5px 18px}
.portlet-nested-portlets .portlet-boundary{position:relative!important;top:0!important;left:0!important}
.portlet-borderless-container{min-height:2.5em;position:relative}
.portlet-borderless-bar{background:#333;color:#FFF;font-size:10px;opacity:.3;padding:2px 5px 1px;position:fixed;right:0;text-shadow:-1px -1px black;top:0;z-index:200}
.portlet-borderless-bar a{background:url() no-repeat 0 50%;color:#3AF;display:inline-block;height:16px;margin-left:5px;text-indent:-9999px;vertical-align:top;width:16px}
.portlet-borderless-bar .portlet-actions{display:none;float:left;margin-right:20px}
.portlet-borderless-bar .portlet-title-default,.portlet-borderless-bar .portlet-actions{min-height:20px;vertical-align:top}
.portlet-borderless-bar .portlet-action-separator{display:none}
.portlet-borderless-bar .portlet-back a{height:auto;text-indent:0;width:auto}
.portlet-borderless-bar .portlet-close a{background-image:url(../images/portlet/close_borderless.png)}
.portlet-borderless-bar .portlet-options li.lfr-trigger strong a{background-image:url(../images/portlet/options_borderless.png)}
.portlet-borderless-container:hover .portlet-borderless-bar{opacity:1}
.portlet-borderless-container:hover .portlet-borderless-bar .portlet-actions{display:inline}
.portlet-title-default{display:inline-block;float:right;font-weight:bold;text-transform:uppercase}
.portlet-draggable .portlet-topper{cursor:move}
.portlet-draggable .portlet-title-default{background:url(../images/portlet/draggable_borderless.png) no-repeat 0 50%;cursor:move;padding-left:20px}
.lfr-panel-page{width:100%}
.lfr-panel-page .portlet-title{font-size:13px}
.lfr-panel-page .lfr-add-content h2 span{background-color:#d3dadd}
.portlet-msg,.portlet-msg-info,.portlet-msg-help,.lfr-message-help,.portlet-msg-progress,.lfr-message-progress,.lfr-message-info,.portlet-msg-error,.lfr-message-error,.portlet-msg-alert,.lfr-message-alert,.portlet-msg-success,.lfr-message-success{background:#EEE none no-repeat 6px 50%;border:1px solid #555;color:#34404f;display:block;font-weight:bold;margin:2px auto 14px;padding:6px 6px 6px 30px;text-align:left}
.portlet-msg-info,.portlet-msg-help,.lfr-message-help,.portlet-msg-progress,.lfr-message-progress,.lfr-message-info{background-color:#dff4ff;background-image:url(../images/messages/info.png);border-color:#a7cedf}
.portlet-msg-help,.lfr-message-help{background-image:url(../images/portlet/help.png)}
.portlet-msg-progress,.lfr-message-progress{background-image:url(../images/aui/loading_indicator.gif)}
.portlet-msg-error,.lfr-message-error{background-color:#FDD;background-image:url(../images/messages/error.png);border-color:#F00}
.portlet-msg-alert,.lfr-message-alert{background-color:#FFC;background-image:url(../images/messages/alert.png);background-position:6px 20%;border-color:#FC0}
.portlet-msg-success,.lfr-message-success{background-color:#f4fdef;background-image:url(../images/messages/success.png);border-color:#acdfa7;color:#384f34}
.portlet-msg-alert-label,.portlet-msg-error-label,.portlet-msg-info-label,.portlet-msg-progress-label,.portlet-msg-success-label{background:none no-repeat 0 50%;padding:3px 3px 3px 20px;font-weight:bold}
.portlet-msg-alert-label{background-image:url(../images/messages/alert.png);color:#663}
.portlet-msg-error-label{background-image:url(../images/messages/error.png);color:#900}
.portlet-msg-info-label,.portlet-msg-help-label,.portlet-msg-progress-label{background-image:url(../images/messages/info.png);color:#34404f}
.portlet-msg-help-label{background-image:url(../images/portlet/help.png)}
.portlet-msg-progress-label{background-image:url(../images/aui/loading_indicator.gif)}
.portlet-msg-success-label{background-image:url(../images/messages/success.png);color:#384f34}
.lfr-message-content,.lfr-message-info,.lfr-message-help,.lfr-message-error,.lfr-message-alert,.lfr-message-success{border-left-width:0;border-right-width:0}
.lfr-message{position:relative}
.lfr-message .lfr-message-control{background-color:#333;display:inline-block}
.lfr-message .lfr-message-controls{display:none;left:3px;margin:-8px 8px 0 3px;position:fixed;top:50%;z-index:10}
.lfr-message .lfr-message-close{background-image:url(../images/portlet/close_borderless.png);background-position:0 0;background-repeat:no-repeat}
.lfr-message .lfr-message-close-all{color:#FFF;display:none;font-size:.8em;margin-left:10px;padding:1px 10px;text-shadow:1px 1px 0 #000;vertical-align:top}
.lfr-message .lfr-message-close-all a{color:#FFF}
.lfr-message .lfr-message-controls-hover .lfr-message-close-all{display:inline-block}
.lfr-message.pending{background-image:url(../images/common/time.png)}
.lfr-message-dismissible.lfr-message-hover .lfr-message-content{background-image:none}
.lfr-message-dismissible.lfr-message-hover .lfr-message-controls{display:block}
.lfr-message-trigger,.lfr-message-close{cursor:pointer}
.portlet-section-selected,.portlet-section-selected a{background:#727c81;color:#FFF;font-weight:bold;text-decoration:none}
.portlet-section-selected a:hover,.portlet-section-selected a:focus{background-color:#727c81}
.restricted,.restricted td{background:#FDD;border:0}
.restricted *{color:#727c81}
.alt.restricted td{background-color:#ffc0c0}
.hover.restricted td{background-color:#d3bdc0}
.restricted td.col-1,.alt.restricted td.col-1{background-image:url(../images/messages/error.png);background-position:5px 50%;background-repeat:no-repeat;padding-left:28px}
.results-row.lfr-role .col-1,.results-row.hover.lfr-role .col-1{background-image:url();background-position:5px 50%;background-repeat:no-repeat;padding-left:30px}
.results-row.lfr-role-guest .col-1,.results-row.hover.lfr-role-guest .col-1{background-image:url(../images/common/guest_icon.png)}
.results-row.lfr-role-regular .col-1,.results-row.hover.lfr-role-regular .col-1{background-image:url(../images/common/user_icon.png)}
.results-row.lfr-role-site .col-1,.results-row.hover.lfr-role-site .col-1{background-image:url(../images/common/site_icon.png)}
.results-row.lfr-role-organization .col-1,.results-row.hover.lfr-role-organization .col-1{background-image:url(../images/common/organization_icon.png)}
.results-row.lfr-role-team .col-1,.results-row.hover.lfr-role-team .col-1{background-image:url(../images/common/team_icon.png)}
.lfr-portlet-item,.lfr-portlet-item p a{font-size:1em}
.lfr-actions.lfr-extended,.lfr-actions.lfr-extended ul{background:white url(../images/forms/button.png) repeat-x 0 100%;border:1px solid;border-color:#dedede #bfbfbf #bfbfbf #dedede}
.lfr-actions ul{bottom:-1px}
.lfr-actions .lfr-trigger,.lfr-actions .lfr-trigger strong{background:0}
.lfr-actions .lfr-trigger li{background:transparent;border-bottom:1px solid #dedede;padding:2px}
.lfr-actions .lfr-trigger li a{padding:5px 10px 5px 25px}
.lfr-actions .lfr-trigger li a:hover{background-color:#828f95;color:#FFF}
.lfr-actions .lfr-trigger li img{left:3px;position:fixed}
.lfr-actions .lfr-trigger li.last{border-bottom:0}
.lfr-actions.portlet-options{background:0;border:0;float:left}
.lfr-actions.portlet-options .lfr-trigger{padding:0}
.lfr-actions.portlet-options .lfr-trigger strong{min-width:0;padding:1px}
.lfr-actions.portlet-options .lfr-trigger strong a{background-image:url(../images/portlet/options.png);background-position:0 0;display:block;font-size:0;height:16px;padding:0;text-indent:-9999px;width:16px}
.visible.portlet-options .lfr-trigger strong a{background-image:url(../images/portlet/options_selected.png)}
.breadcrumbs:before,.breadcrumbs:after{content:"\0020";display:block;height:0;visibility:hidden}
.breadcrumbs:after{clear:both}
.breadcrumbs-vertical{display:inline-block}
.breadcrumbs-horizontal li{display:inline-block;vertical-align:middle}
.taglib-calendar tr.portlet-section-header th,.taglib-calendar tr td{border:0}
.taglib-calendar tr td a{background-color:#f0f5f7;border:1px solid #FFF;border-bottom:0;border-left:none;display:block;height:15px;padding:5px 0}
.taglib-calendar tr td a:hover{background-color:#727c81;color:#FFF}
.taglib-calendar tr td.calendar-inactive{background-color:#FFF;color:#b5bfc4}
.taglib-calendar tr th{border-bottom-color:#d7d7d7}
.taglib-calendar table td{border-width:0}
.taglib-calendar .calendar-current-day,.taglib-calendar .calendar-current-day a{background-color:#FFF}
.taglib-calendar .calendar-current-day a{border:1px solid #727c81;color:#369;text-decoration:underline}
.ie6 .portlet-borderless-bar .portlet-actions{display:inline;filter:alpha(opacity=90)}
.rtl .breadcrumbs-horizontal li{float:right}
.rtl .portlet-msg,.rtl .portlet-msg-info,.rtl .portlet-msg-help,.rtl .lfr-message-help,.rtl .portlet-msg-progress,.rtl .lfr-message-progress,.rtl .lfr-message-info,.rtl .portlet-msg-error,.rtl .lfr-message-error,.rtl .portlet-msg-alert,.rtl .lfr-message-alert,.rtl .portlet-msg-success,.rtl .lfr-message-success{background-position:right;padding-left:6px;padding-right:24px;text-align:right}
.rtl .portlet-topper-toolbar{left:3px;right:auto;text-align:left}
.rtl .portlet-topper-toolbar .nobr{float:right}
.rtl .lfr-actions.portlet-options{float:right}
.rtl .lfr-actions.portlet-options .lfr-trigger strong a{padding:0}
.rtl .lfr-message .lfr-message-controls{left:auto;margin-left:-4px;margin-right:3px;right:3px}
.rtl .results-row,.rtl .results-row.hover{padding-right:5px}
.rtl .results-row.lfr-role .col-1,.rtl .results-row.hover.lfr-role .col-1{background-position:right;padding-right:30px}
fieldset{border:1px solid #bfbfbf;padding:8px}
.aui-fieldset{border-width:0;padding:0;position:relative}
.aui-dialog-iframe-popup .aui-fieldset{margin-bottom:0}
.aui-fieldset .aui-field-content,.aui-field-row,.aui-button-holder,.aui-field-wrapper-content{margin:10px 0}
.aui-field-inline .aui-field-content,.aui-field-row .aui-field-content{margin:0;margin-right:5px}
.aui-search-bar .aui-field-content{margin-right:0}
.aui-search-bar .aui-field-content,.aui-search-bar .aui-button-content{display:inline-block;vertical-align:middle}
.aui-field-choice .aui-field-label{display:inline-block}
.aui-field-date .aui-field-content{overflow:hidden}
.aui-text-placeholder{color:#777}
legend{font-weight:bold;padding:0 6px}
.aui-fieldset-legend{color:#000;font-size:120%;font-weight:bold;padding:0 0 1.5em}
.aui-legend{border-bottom:1px solid #CCC;display:block;position:fixed;width:90%}
input{background:#FFF}
input[type="text"],input[type="password"],input[type="file"],input[type="submit"],input[type="button"],input[type="reset"],select,textarea,.textarea,button,.aui-field-input-text{background-image:url(../images/forms/input_shadow.png);background-repeat:no-repeat;border:1px solid;border-color:#bfbfbf #dedede #dedede #bfbfbf;font:1em Arial,Helvetica,Verdana,sans-serif;padding:5px 1px}
select{padding:1px}
input[type="image"]{background:transparent none;border:0;padding:0}
input[type="submit"],input[type="button"],input[type="reset"],button{background:#d4d4d4 url(../images/portlet/header_bg.png) repeat-x 0 0;border:1px solid;border-color:#c8c9ca #9e9e9e #9e9e9e #c8c9ca;color:#34404f;cursor:pointer;font-weight:bold;overflow:visible;padding:5px;text-shadow:1px 1px #FFF;width:auto}
input[type="submit"]:hover,input[type="button"]:hover,input[type="reset"]:hover,button:hover{background:#b9ced9 url(../images/application/state_hover_bg.png) repeat-x 0 0;border-color:#627782;color:#369}
input[type="submit"]:focus,input[type="button"]:focus,input[type="reset"]:focus,button:focus{background:#ebebeb url(../images/application/state_active_bg.png) repeat-x 0 0;border-color:#555}
input.focus,textarea.focus{background:#FFC none;border-color:#FC0}
.lfr-actions.lfr-extended,.lfr-actions.lfr-extended ul{background:#d4d4d4 url(../images/portlet/header_bg.png) repeat-x 0 0;border:1px solid;border-color:#c8c9ca #9e9e9e #9e9e9e #c8c9ca;color:#34404f;cursor:pointer;font-weight:bold;overflow:visible;padding:5px;text-shadow:1px 1px #FFF;width:auto;padding:0}
.lfr-actions.lfr-extended:focus,.lfr-actions.lfr-extended:focus ul{background:#ebebeb url(../images/application/state_active_bg.png) repeat-x 0 0;border-color:#555}
.lfr-actions.lfr-extended.disabled,.lfr-actions.lfr-extended.disabled ul,.lfr-actions.lfr-extended.disabled:hover,.lfr-actions.lfr-extended.disabled:hover ul{background:#d4d4d4 url(../images/portlet/header_bg.png) repeat-x 0 0;border-color:#c8c9ca #9e9e9e #9e9e9e #c8c9ca;color:#555;opacity:.5}
.lfr-actions.lfr-extended:hover,.lfr-actions.lfr-extended:hover ul{background:#b9ced9 url(../images/application/state_hover_bg.png) repeat-x 0 0;border-color:#627782;color:#369}
.lfr-actions.lfr-extended span{cursor:pointer}
.lfr-actions.disabled .taglib-text{color:#a9a9a9}
.aui-button-disabled input[type],.aui-button-disabled input[type]:hover,.aui-button-disabled input[type]:focus,.aui-button-disabled button,.aui-button-disabled button:hover,.aui-button-disabled button:focus{background:#d4d4d4 url(../images/portlet/header_bg.png) repeat-x 0 0;border-color:#c8c9ca #9e9e9e #9e9e9e #c8c9ca;color:#555;opacity:.5}
.aui-buttonitem-disabled{background:#d4d4d4 url(../images/portlet/header_bg.png) repeat-x 0 0;border-color:#c8c9ca #9e9e9e #9e9e9e #c8c9ca;color:#555;opacity:.5}
input.aui-form-validator-error,textarea.aui-form-validator-error,select.aui-form-validator-error{border-color:#900;border-style:dotted}
.aui-menu-content,body>.lfr-menu-list ul,.aui-underlay-content,.aui-dialog-content{-webkit-box-shadow:2px 4px 7px rgba(0,0,0,0.5);-moz-box-shadow:2px 4px 7px rgba(0,0,0,0.5);box-shadow:2px 4px 7px rgba(0,0,0,0.5)}
.lfr-preview-file-image img,.lfr-translation-manager{-webkit-box-shadow:0 3px 5px -3px rgba(0,0,0,0.8);-moz-box-shadow:0 3px 5px -3px rgba(0,0,0,0.8);box-shadow:0 3px 5px -3px rgba(0,0,0,0.8)}
.lfr-preview-file-image-current-column{-webkit-box-shadow:inset 0 0 3px rgba(0,0,0,0.8);-moz-box-shadow:inset 0 0 3px rgba(0,0,0,0.8);box-shadow:inset 0 0 3px rgba(0,0,0,0.8)}
.lfr-preview-file-image-current-column{-webkit-box-shadow:inset 0 0 5px rgba(0,0,0,0.8);-moz-box-shadow:inset 0 0 5px rgba(0,0,0,0.8);box-shadow:inset 0 0 5px rgba(0,0,0,0.8)}
.dockbar .menu-button-active .menu-button{-webkit-box-shadow:inset 0 1px 5px rgba(0,0,0,0.7);-moz-box-shadow:inset 0 1px 5px rgba(0,0,0,0.7);box-shadow:inset 0 1px 5px rgba(0,0,0,0.7)}
.my-sites-menu .current-site a{-webkit-box-shadow:inset 0 5px 15px rgba(255,255,255,0.5);-moz-box-shadow:inset 0 5px 15px rgba(255,255,255,0.5);box-shadow:inset 0 5px 15px rgba(255,255,255,0.5)}
.aui-dialog-hd{-webkit-box-shadow:1px 1px 0 white;-moz-box-shadow:1px 1px 0 white;box-shadow:1px 1px 0 white}
.lfr-translation-manager-translation.lfr-translation-manager-translation-editing{-webkit-box-shadow:inset 0 0 2px #224fa8;-moz-box-shadow:inset 0 0 2px #224fa8;box-shadow:inset 0 0 2px #224fa8}
.lfr-search-combobox-item{-webkit-border-radius:1px;-moz-border-radius:1px;-ms-border-radius:1px;-o-border-radius:1px;border-radius:1px}
.lfr-search-combobox .aui-field-input-text{-webkit-border-radius:4px 1px 1px 4px;-moz-border-radius:4px 1px 1px 4px;-ms-border-radius:4px 1px 1px 4px;-o-border-radius:4px 1px 1px 4px;border-radius:4px 1px 1px 4px}
.lfr-search-combobox .aui-button-input{-webkit-border-radius:1px 4px 4px 1px;-moz-border-radius:1px 4px 4px 1px;-ms-border-radius:1px 4px 4px 1px;-o-border-radius:1px 4px 4px 1px;border-radius:1px 4px 4px 1px}
body>.lfr-menu-list,body>.lfr-menu-list ul,.lfr-actions,.aui-dialog-content,.aui-dialog .yui3-widget-hd,.modify-pages .delete-tab,input[type="submit"],input[type="button"],input[type="reset"],button,.tags-search-combobox .aui-field-input-text,.staging-icon-menu-container .staging-icon-menu.lfr-actions .lfr-trigger strong a,.active-area-proxy,.portlet-document-library .document-display-style .document-thumbnail img,.portlet-document-library-display .document-display-style .document-thumbnail img,.aui-paginator-link,.lfr-header-row .aui-toolbar-only,.lfr-translation-manager,.lfr-translation-manager-translation,.select-documents,.select-files,.taglib-ratings.stars:hover,.taglib-ratings.stars:hover .liferay-rating-vote,.rule-group-instance-container .rule-group-instance,.portlet-search .search-facet .facet-value,.lfr-api-results{-webkit-border-radius:4px;-moz-border-radius:4px;-ms-border-radius:4px;-o-border-radius:4px;border-radius:4px}
.lfr-header-row .aui-toolbar-content,.lfr-search-combobox,.select-documents,.select-files,.portlet-document-library div.document-display-style,.lfr-upload-container .upload-target,.lfr-upload-container .upload-file,.portlet-document-library .common-file-metadata-container.selected,.portlet-document-library-display .common-file-metadata-container.selected{-webkit-border-radius:5px;-moz-border-radius:5px;-ms-border-radius:5px;-o-border-radius:5px;border-radius:5px}
.portlet-journal .structure-tree .structure-field{-webkit-border-radius:6px;-moz-border-radius:6px;-ms-border-radius:6px;-o-border-radius:6px;border-radius:6px}
.aui-menu-content{-moz-border-radius-bottomleft:4px;-webkit-border-bottom-left-radius:4px;border-bottom-left-radius:4px;-moz-border-radius-bottomright:4px;-webkit-border-bottom-right-radius:4px;border-bottom-right-radius:4px}
.aui-underlay-content{-moz-border-radius-bottomleft:8px;-webkit-border-bottom-left-radius:8px;border-bottom-left-radius:8px;-moz-border-radius-bottomright:8px;-webkit-border-bottom-right-radius:8px;border-bottom-right-radius:8px}
.lfr-hudcrumbs ul{-moz-border-radius-topleft:0;-webkit-border-top-left-radius:0;border-top-left-radius:0;-moz-border-radius-topright:0;-webkit-border-top-right-radius:0;border-top-right-radius:0}
.lfr-message .lfr-message-control{-webkit-border-radius:10px;-moz-border-radius:10px;-ms-border-radius:10px;-o-border-radius:10px;border-radius:10px}
.lfr-token,.layout-customizable-controls,.lfr-translation-manager-delete-translation{-webkit-border-radius:8px;-moz-border-radius:8px;-ms-border-radius:8px;-o-border-radius:8px;border-radius:8px}
.customizable-layout-column-content{-webkit-border-radius:6px;-moz-border-radius:6px;-ms-border-radius:6px;-o-border-radius:6px;border-radius:6px}
.lfr-upload-container .upload-target{-webkit-box-shadow:inset 0 0 1px white;-moz-box-shadow:inset 0 0 1px white;box-shadow:inset 0 0 1px white;*zoom:1;filter:progid:DXImageTransform.Microsoft.gradient(gradientType=0,startColorstr='#FF8FBE31',endColorstr='#FF729A22');background-image:-webkit-gradient(linear,50%,50%,color-stop(0%,#8fbe31),color-stop(85%,#729a22));background-image:-webkit-linear-gradient(50%,#8fbe31 0,#729a22 85%);background-image:-moz-linear-gradient(50%,#8fbe31 0,#729a22 85%);background-image:-o-linear-gradient(50%,#8fbe31 0,#729a22 85%);background-image:linear-gradient(50%,#8fbe31 0,#729a22 85%)}
.live-view .staging-tabview-list{*zoom:1;filter:progid:DXImageTransform.Microsoft.gradient(gradientType=0,startColorstr='#FFE3F8DF',endColorstr='#FFC4F0BC')}
.staging-tabview-list{-webkit-border-radius:0;-moz-border-radius:0;-ms-border-radius:0;-o-border-radius:0;border-radius:0}
.staging-bar{-webkit-box-shadow:inset 0 3em 1em rgba(0,0,0,0.8);-moz-box-shadow:inset 0 3em 1em rgba(0,0,0,0.8);box-shadow:inset 0 3em 1em rgba(0,0,0,0.8)}
.staging-tabview-list .aui-tab-active .aui-tab-content,.site-variations-tabview-list .aui-tab-content{-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none}
.staging-tabview-list{-webkit-border-radius:0;-moz-border-radius:0;-ms-border-radius:0;-o-border-radius:0;border-radius:0;-webkit-box-shadow:inset 0 .75em .75em rgba(255,255,255,0.55);-moz-box-shadow:inset 0 .75em .75em rgba(255,255,255,0.55);box-shadow:inset 0 .75em .75em rgba(255,255,255,0.55);background-image:-webkit-gradient(linear,0 0,0 0,color-stop(0%,rgba(0,0,0,0.06)),color-stop(25%,rgba(0,0,0,0.06)),color-stop(25%,rgba(0,0,0,0)),color-stop(50%,rgba(0,0,0,0)),color-stop(50%,rgba(0,0,0,0.06)),color-stop(75%,rgba(0,0,0,0.06)),color-stop(75%,rgba(0,0,0,0)),color-stop(100%,rgba(0,0,0,0)));background-image:-webkit-linear-gradient(0 0,rgba(0,0,0,0.06),rgba(0,0,0,0.06) 25%,rgba(0,0,0,0) 25%,rgba(0,0,0,0) 50%,rgba(0,0,0,0.06) 50%,rgba(0,0,0,0.06) 75%,rgba(0,0,0,0) 75%,rgba(0,0,0,0));background-image:-moz-linear-gradient(0 0,rgba(0,0,0,0.06),rgba(0,0,0,0.06) 25%,rgba(0,0,0,0) 25%,rgba(0,0,0,0) 50%,rgba(0,0,0,0.06) 50%,rgba(0,0,0,0.06) 75%,rgba(0,0,0,0) 75%,rgba(0,0,0,0));background-image:-o-linear-gradient(0 0,rgba(0,0,0,0.06),rgba(0,0,0,0.06) 25%,rgba(0,0,0,0) 25%,rgba(0,0,0,0) 50%,rgba(0,0,0,0.06) 50%,rgba(0,0,0,0.06) 75%,rgba(0,0,0,0) 75%,rgba(0,0,0,0));background-image:linear-gradient(0 0,rgba(0,0,0,0.06),rgba(0,0,0,0.06) 25%,rgba(0,0,0,0) 25%,rgba(0,0,0,0) 50%,rgba(0,0,0,0.06) 50%,rgba(0,0,0,0.06) 75%,rgba(0,0,0,0) 75%,rgba(0,0,0,0));*zoom:1;filter:progid:DXImageTransform.Microsoft.gradient(gradientType=0,startColorstr='#FFFFEED4',endColorstr='#FFFFDBA6');background-size:100px 100px}
.portlet-staging-bar .staging-bar .site-variations-tabview-list{-webkit-box-shadow:0 1px 5px rgba(0,0,0,0.8) inset,1px 3px 8px rgba(0,0,0,0.8);-moz-box-shadow:0 1px 5px rgba(0,0,0,0.8) inset,1px 3px 8px rgba(0,0,0,0.8);box-shadow:0 1px 5px rgba(0,0,0,0.8) inset,1px 3px 8px rgba(0,0,0,0.8);background-image:-webkit-gradient(linear,50% 100%,50% 0,color-stop(0%,#777),color-stop(80%,#333),color-stop(100%,#333));background-image:-webkit-linear-gradient(center bottom,#777,#333 80%,#333);background-image:-moz-linear-gradient(center bottom,#777,#333 80%,#333);background-image:-o-linear-gradient(center bottom,#777,#333 80%,#333);background-image:linear-gradient(center bottom,#777,#333 80%,#333)}
.rule-group-instance-container .rule-group-instance{-webkit-box-shadow:1px 1px 2px #999;-moz-box-shadow:1px 1px 2px #999;box-shadow:1px 1px 2px #999}
.lfr-action-label{-webkit-border-radius:2px;-moz-border-radius:2px;-ms-border-radius:2px;-o-border-radius:2px;border-radius:2px}
.lfr-api-service-search .aui-field-input{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
.bx-wrapper{position:relative;margin:0 auto 60px;padding:0;*zoom:1}
.bx-wrapper img{max-width:100%;display:block}
.bx-wrapper .bx-viewport{-moz-box-shadow:0 0 5px #ccc;-webkit-box-shadow:0 0 5px #ccc;box-shadow:0 0 5px #ccc;border:solid #fff 5px;left:-5px;background:#fff}
.bx-wrapper .bx-pager,.bx-wrapper .bx-controls-auto{position:fixed;bottom:-30px;width:100%}
.bx-wrapper .bx-loading{min-height:50px;background:url(images/bx_loader.gif) center center no-repeat white;height:100%;width:100%;position:fixed;top:0;left:0;z-index:2000}
.bx-wrapper .bx-pager{text-align:center;font-size:.85em;font-family:Arial;font-weight:bold;color:#666;padding-top:20px}
.bx-wrapper .bx-pager .bx-pager-item,.bx-wrapper .bx-controls-auto .bx-controls-auto-item{display:inline-block;*zoom:1;*display:inline}
.bx-wrapper .bx-pager.bx-default-pager a{background:#666;text-indent:-9999px;display:block;width:10px;height:10px;margin:0 5px;outline:0;-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px}
.bx-wrapper .bx-pager.bx-default-pager a:hover,.bx-wrapper .bx-pager.bx-default-pager a.active{background:#000}
.bx-wrapper .bx-prev{left:10px;background:url(images/controls.png) no-repeat 0 -32px}
.bx-wrapper .bx-next{right:10px;background:url(images/controls.png) no-repeat -43px -32px}
.bx-wrapper .bx-prev:hover{background-position:0 0}
.bx-wrapper .bx-next:hover{background-position:-43px 0}
.bx-wrapper .bx-controls-direction a{position:fixed;top:50%;margin-top:-16px;outline:0;width:32px;height:32px;text-indent:-9999px;z-index:9999}
.bx-wrapper .bx-controls-direction a.disabled{display:none}
.bx-wrapper .bx-controls-auto{text-align:center}
.bx-wrapper .bx-controls-auto .bx-start{display:block;text-indent:-9999px;width:10px;height:11px;outline:0;background:url(images/controls.png) -86px -11px no-repeat;margin:0 3px}
.bx-wrapper .bx-controls-auto .bx-start:hover,.bx-wrapper .bx-controls-auto .bx-start.active{background-position:-86px 0}
.bx-wrapper .bx-controls-auto .bx-stop{display:block;text-indent:-9999px;width:9px;height:11px;outline:0;background:url(images/controls.png) -86px -44px no-repeat;margin:0 3px}
.bx-wrapper .bx-controls-auto .bx-stop:hover,.bx-wrapper .bx-controls-auto .bx-stop.active{background-position:-86px -33px}
.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager{text-align:left;width:80%}
.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-controls-auto{right:0;width:35px}
.bx-wrapper .bx-caption{position:fixed;bottom:0;left:0;background:#666\9;background:rgba(80,80,80,0.75);width:100%}
.bx-wrapper .bx-caption span{color:#fff;font-family:Arial;display:block;font-size:.85em;padding:10px}
.jcrop-holder{direction:ltr;text-align:left}
.jcrop-vline,.jcrop-hline{background:white url(../images/jcrop/Jcrop.gif);font-size:0;position:fixed}
.jcrop-vline{height:100%;width:1px!important}
.jcrop-vline.right{right:0}
.jcrop-hline{height:1px!important;width:100%}
.jcrop-hline.bottom{bottom:0}
.jcrop-tracker{-webkit-tap-highlight-color:transparent;-webkit-touch-callout:none;-webkit-user-select:none;height:100%;width:100%}
.jcrop-handle{background-color:#333;border:1px #EEE solid;font-size:1px;height:7px;width:7px}
.jcrop-handle.ord-n{left:50%;margin-left:-4px;margin-top:-4px;top:0}
.jcrop-handle.ord-s{bottom:0;left:50%;margin-bottom:-4px;margin-left:-4px}
.jcrop-handle.ord-e{margin-right:-4px;margin-top:-4px;right:0;top:50%}
.jcrop-handle.ord-w{left:0;margin-left:-4px;margin-top:-4px;top:50%}
.jcrop-handle.ord-nw{left:0;margin-left:-4px;margin-top:-4px;top:0}
.jcrop-handle.ord-ne{margin-right:-4px;margin-top:-4px;right:0;top:0}
.jcrop-handle.ord-se{bottom:0;margin-bottom:-4px;margin-right:-4px;right:0}
.jcrop-handle.ord-sw{bottom:0;left:0;margin-bottom:-4px;margin-left:-4px}
.jcrop-dragbar.ord-n,.jcrop-dragbar.ord-s{height:7px;width:100%}
.jcrop-dragbar.ord-e,.jcrop-dragbar.ord-w{height:100%;width:7px}
.jcrop-dragbar.ord-n{margin-top:-4px}
.jcrop-dragbar.ord-s{bottom:0;margin-bottom:-4px}
.jcrop-dragbar.ord-e{margin-right:-4px;right:0}
.jcrop-dragbar.ord-w{margin-left:-4px}
.jcrop-light .jcrop-vline,.jcrop-light .jcrop-hline{background:#FFF;filter:alpha(opacity=70)!important;opacity:.70!important}
.jcrop-light .jcrop-handle{-moz-border-radius:3px;-webkit-border-radius:3px;background-color:#000;border-color:#FFF;border-radius:3px}
.jcrop-dark .jcrop-vline,.jcrop-dark .jcrop-hline{background:#000;filter:alpha(opacity=70)!important;opacity:.7!important}
.jcrop-dark .jcrop-handle{-moz-border-radius:3px;-webkit-border-radius:3px;background-color:#FFF;border-color:#000;border-radius:3px}
.solid-line .jcrop-vline,.solid-line .jcrop-hline{background:#FFF}
.jcrop-holder{width:100%!important;overflow:auto}
.jcrop-holder img,img.jcrop-preview{max-width:none}
.breadcrumbs-horizontal{margin-bottom:1.5em}
.breadcrumbs-horizontal li{background:url(/lasy-theme/images/arrows/05_right.png) no-repeat 100% 50%;margin-right:5px;max-width:50%;padding-right:15px}
.breadcrumbs-vertical li{background:url(/lasy-theme/images/arrows/07_down.png) no-repeat 50% 100%;padding:0 0 9px;max-width:auto}
.breadcrumbs a{display:block}
.breadcrumbs-vertical a{text-align:center;text-decoration:none}
.breadcrumbs .last{background-image:none}
.breadcrumbs-horizontal .last{margin-top:.2em}
.breadcrumbs-vertical .last{font-weight:bold}
.breadcrumbs-horizontal .last a,.aui-tree-node-selected a{color:#555}
#skip-to-content,#banner h2,#banner h3,#navigation h1,.site-breadcrumbs h1{clip:rect(0 0 0 0);position:fixed}
.opens-new-window-accessible{background:url(/lasy-theme/images/common/open_window.png) no-repeat 0 50%;display:inline-block;font-size:0;height:11px;margin-left:2px;overflow:hidden;text-indent:-9999px;vertical-align:top;width:11px}
.lfr-title-scope-selector{-moz-border-radius-bottomleft:4px;-webkit-border-bottom-left-radius:4px;border-bottom-left-radius:4px}
.lfr-title-scope-selector{-moz-border-radius-bottomright:4px;-webkit-border-bottom-right-radius:4px;border-bottom-right-radius:4px}
.logo .current-site,#navigation,#navigation a,.portlet,.portlet-topper,.site-breadcrumbs ul,.aui-form-validator-message{-moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px}
body{background:#eef0f2;font-size:11px}
body.mouring{filter:url("data:image/svg+xml;utf8,<svgxmlns='http://www.w3.org/2000/svg'><filterid='grayscale'><feColorMatrixtype='matrix'values='0.33330.33330.3333000.33330.33330.3333000.33330.33330.33330000010'/></filter></svg>#grayscale");filter:gray;-webkit-filter:grayscale(100%);filter:grayscale(100%)}
a{color:#5b677d;text-decoration:underline}
a:hover{color:#06C;text-decoration:none}
hr,.separator{border-color:#bfbfbf transparent #FFF;border-style:solid;border-width:1px 0}
#wrapper{background:0;margin:0 auto;width:1400px;position:relative}
#banner{background:0;height:auto}
#banner .company-title{float:none;font-family:sans-serif,arial,tahoma;margin:15px 0 0;position:static}
body #banner .logo a{float:left}
#heading .lp-logo{color:#005023;display:inline-block!important;font-size:inherit!important;float:left;text-indent:0!important;width:100%!important;text-decoration:none;max-width:450px;padding-bottom:20px}
#heading .logo{background:url("../images/lasy/logo_80x80.png") no-repeat scroll 0 0 transparent!important;height:80px!important;width:80px!important}
#heading .lp-logo span{display:inline-block;font-size:18px;margin-left:92px;margin-top:30px;width:450px}
#heading .lp-logo span.dlugi{margin-top:21px}
#heading a.company-title{color:#005023;float:left!important;font-size:18px;font-weight:bold;text-decoration:none;margin-left:500px;margin-top:21px}
#heading a.company-title.polowanie-lodz{margin-top:5px}
.signed-in.controls-visible #heading>div.lang{width:120px}
#heading>div.lang{color:#0c4f01;float:right;font-family:sans-serif;font-size:15px;font-weight:bold;height:80px;margin-top:16px;max-width:145px;overflow:auto}
#heading>div.lang a{color:#0c4f01;text-decoration:none}
.signed-in.controls-visible #heading div.lang .portlet-borderless-bar{margin-top:-20px}
.current-community{display:none}
.logo .current-community{background:#a6afbe url(../images/dock/my_places_public.png) no-repeat 15px 50%;color:#FFF;display:block;float:right;font-size:.8em;font-weight:bold;margin:15px 0 0 20px;padding:7px 17px 7px 40px;text-shadow:1px 1px rgba(0,0,0,0.5)}
#skip-to-content:focus{clip:auto;right:0;z-index:200}
#sign-in{background:url(../images/common/key.png) no-repeat 3px 50%;font-weight:bold;padding:5px 5px 5px 25px;position:fixed;right:0;top:1.4em}
.gallery-image .mainphotogallery-description{background-color:#000;bottom:0;color:#fff;font-size:13px;opacity:.8;padding:2px 8px;position:fixed;text-align:left;width:auto;z-index:300}
.guest-community .logo .current-community{display:none}
.private-page .logo .current-community{background-image:url(../images/dock/my_places_private.png)}
#navigation{clear:both;height:57px;margin:0 auto;min-height:2.2em;padding:0 5px;position:relative;z-index:200}
#navigation h1{margin:0}
#navigation ul{list-style:none;margin:0;padding:3px}
#navigation ul.child-menu.expand-left,#navigation ul.child-menu2.expand-left,#navigation ul.child-menu3.expand-left{border-top:1px solid #404040;border-right:1px solid #404040;left:-290px;margin-top:-1px}
#navigation li,#navigation a{display:inline-block}
#navigation li{position:relative;vertical-align:top}
#navigation a{color:#FFF;font-size:1.1em;font-weight:bold;margin:0 1px;padding:3px 15px;text-decoration:none}
#navigation .aui-dd-drop a{cursor:move}
#navigation .selected a,#navigation a:hover,#navigation a:focus,#navigation .child-menu li a,#navigation .aui-dd-dragging,.lfr-navigation-proxy,#navigation .child-menu2 li a,#navigation .child-menu3 li a{background-color:#28b532;color:#FFF;outline:0;text-shadow:-1px -1px black}
#navigation li:hover .child-menu,#navigation .child-menu>li:hover .child-menu2,#navigation .child-menu2>li:hover .child-menu3{border-left:1px solid #404040;display:block;position:fixed;width:295px;z-index:200}
#navigation .main-menu>li{border-right:1px solid #404040}
#navigation .main-menu>li.last{border-right:0}
#navigation .child-menu{display:none}
#navigation .child-menu2{display:none;left:295px;top:-11px}
#navigation .child-menu3{display:none;left:295px;top:-11px}
#navigation .child-menu>li:hover .child-menu2,#navigation .child-menu2>li:hover .child-menu3{display:block}
#navigation .child-menu li{border-top:1px solid #404040;display:block;float:none;margin:0}
#navigation .child-menu li a{cursor:pointer!important}
.portlet{background-color:transparent;text-align:left}
.signed-out footer .portlet-topper{display:none}
.portlet-topper{font-size:1.4em}
.portlet-title{color:#656565;float:none;font-weight:bold;min-width:50%;padding:5px}
.portlet-title a{color:#353535;text-decoration:none}
.lfr-portlet-title-editable{margin-top:-4px;z-index:9999}
.lfr-portlet-title-editable-content{padding:0}
.portlet-icons{float:none}
.portlet-icons .portlet-close-icon{border-width:0}
.page-maximized .portlet-icons{font-size:11px}
#footer{text-align:right}
.lfr-hudcrumbs{position:fixed;top:0;z-index:200}
.lfr-hudcrumbs ul{background:#414445;background:rgba(0,0,0,0.8)}
.lfr-hudcrumbs .breadcrumbs li a,.lfr-hudcrumbs .breadcrumbs li span{color:#FFF}
.lfr-hudcrumbs li span{background-image:url(../images/common/breadcrumbs_hud.png)}
.lfr-panel-container{background-color:transparent}
.aui-combobox .aui-field-input{padding:4px 3px 3px;font-size:11px;height:15px}
.aui-combobox .aui-field{float:left;line-height:0}
.lfr-portlet-title-editable-content .aui-field{float:none;display:inline}
.portlet-borderless-bar{-moz-border-radius:20px;-moz-box-shadow:inset 0 1px 3px #000;-webkit-border-radius:20px;-webkit-box-shadow:inset 0 1px 3px #000;border-radius:20px;box-shadow:inset 0 1px 3px #000;z-index:20}
.logo .current-community{-moz-box-shadow:inset 0 0 6px rgba(0,0,0,0.5),1px 1px 0 white;-webkit-box-shadow:inset 0 0 6px rgba(0,0,0,0.5),1px 1px 0 white;box-shadow:inset 0 0 6px rgba(0,0,0,0.5),1px 1px 0 white}
#navigation li.selected a{-moz-box-shadow:inset 0 1px 3px rgba(0,0,0,0.8);-webkit-box-shadow:inset 0 1px 3px rgba(0,0,0,0.8);box-shadow:inset 0 1px 3px rgba(0,0,0,0.8)}
.aui-combobox .aui-toolbar-first{-moz-border-radius-topleft:0;-moz-border-radius-bottomleft:0;-webkit-border-top-left-radius:0;-webkit-border-bottom-left-radius:0;border-top-left-radius:0;border-bottom-left-radius:0}
body{background-color:#fff;font:12px/18px Open Sans,verdana,tahoma,helvetica,geneva,sans-serif;margin:0;padding:0}
#wrapper{width:1400px;max-width:100%}
#banner{margin:0 auto 16px;width:960px}
#content-wrapper{background-color:#e7e7e7;margin:0 auto;max-width:100%;overflow:hidden;width:1400px;min-height:1050px}
#main-image{max-width:100%;overflow:hidden;position:fixed;width:1400px}
#main-image img{min-width:100%}
.carousel-item-fader{height:1060px;position:fixed;width:1400px;background:url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjU1JSIgc3RvcC1jb2xvcj0iI2YyZjJmMiIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjgwJSIgc3RvcC1jb2xvcj0iI2VjZWNlYyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlN2U3ZTciIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);background:-moz-linear-gradient(top,rgba(255,255,255,0) 0,rgba(242,242,242,0) 45%,#ececec 60%,#e7e7e7 100%);background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,rgba(255,255,255,0)),color-stop(45%,rgba(242,242,242,0)),color-stop(60%,#ececec),color-stop(100%,#e7e7e7));background:-webkit-linear-gradient(top,rgba(255,255,255,0) 0,rgba(242,242,242,0) 45%,#ececec 60%,#e7e7e7 100%);background:-o-linear-gradient(top,rgba(255,255,255,0) 0,rgba(242,242,242,0) 45%,#ececec 60%,#e7e7e7 100%);background:-ms-linear-gradient(top,rgba(255,255,255,0) 0,rgba(242,242,242,0) 45%,#ececec 60%,#e7e7e7 100%);background:linear-gradient(to bottom,rgba(255,255,255,0) 0,rgba(242,242,242,0) 45%,#ececec 60%,#e7e7e7 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ffffff',endColorstr='#e7e7e7',GradientType=0)}
#content{background-color:#e7e7e7;margin:0 auto;position:relative;padding:0 13px 0 20px;width:967px}
.first-layout #content{margin:402px auto 0}
.page-maximized.first-layout #content,.controls-visible.signed-in #content{margin:0 auto}
.w960{margin:0 auto;width:967px}
.w1400{margin:0 auto;width:1400px;max-width:100%}
.logo .current-community,#navigation,#navigation a,.portlet,.portlet-topper,.site-breadcrumbs ul{border-radius:0}
.portlet-content,.portlet-minimized .portlet-content-container{padding:3px}
#navigation{background-color:#031c07}
#navigation ul{background:url("../images/lasy/bg_menu.png") no-repeat scroll 821px top #031c07;text-align:center;margin:0 auto;padding:0;width:960px}
#navigation>ul.main-menu{height:56px;position:relative}
#navigation ul>li{background:0;float:left;position:relative}
#navigation li.selected a{box-shadow:none}
#navigation .selected a,#navigation a:hover,#navigation a:focus,#navigation .child-menu li a,#navigation .aui-dd-dragging,.lfr-navigation-proxy{background:0;text-shadow:none}
#navigation a{background-color:#031c07;color:#fff;display:block;font:14px/1.3em Open Sans,tahoma,verdana,helvetica,geneva,sans-serif;padding:19px 22px;text-decoration:none;text-transform:uppercase;margin:0}
#navigation a:hover,#navigation .child-menu li a:hover,#navigation>ul>.selected>a,#navigation .child-menu>.selected>a,#navigation .child-menu2>.selected>a,#navigation .child-menu3>.selected>a{background-color:#28b532;color:#fff;text-decoration:none}
#navigation .child-menu,#navigation .child-menu2,#navigation .child-menu3{background:0;border-bottom:1px solid #40413f;border-color:#40413f;border-width:1px;position:relative;text-align:left;width:295px}
#navigation .child-menu li.last{border-bottom:1px solid #404040}
#navigation li:hover .child-menu,#navigation li:hover .child-menu2,#navigation li:hover>.child-menu3{background-color:#031c07;width:295px;padding:10px 0}
#navigation .child-menu li a{text-transform:none;width:245px;padding:12px 25px}
#navigation li.has-children,#navigation .child-menu>li.has-children>a,#navigation .child-menu2>li.has-children>a{background:url("../images/lasy/arrow_right.png") no-repeat scroll 275px 50% transparent}
#navigation .child-menu li.has-children>a:hover,#navigation li.selected.has-children>a,#navigation li.selected.has-children>a{background:url("../images/lasy/arrow_right.png") no-repeat scroll 275px 50% #28b532}
#navigation .main-menu>li.wyszukiwanie{border-right:medium none;margin-top:11px;padding:0;position:fixed;right:20px;top:0;z-index:10}
#navigation .main-menu>li.wyszukiwanie .btn_search{background-image:url("../images/lasy/search_bg_green.png");background-position:-9999px -9999px;background-repeat:no-repeat;float:left;height:44px;position:relative;width:46px;z-index:100}
#navigation .main-menu>li.wyszukiwanie .btn_search input{background:url("../images/lasy/icon_search.png") no-repeat scroll 12px 9px transparent;border:medium none;height:44px;margin:0;padding:0;width:46px}
#navigation .main-menu>li.wyszukiwanie .frame_input_text{display:none;position:fixed;right:-20px;top:0}
#navigation .main-menu>li.wyszukiwanie:hover .btn_search{background-position:0 0}
#navigation .main-menu>li.wyszukiwanie:hover .frame_input_text{display:block}
#navigation .main-menu>li.wyszukiwanie .box_input_text{background-color:#031c07;border:1px solid #3b3b3b;box-shadow:0 2px 5px rgba(0,0,0,0.5);margin-top:45px;overflow:hidden;padding:10px 15px}
#navigation .main-menu>li.wyszukiwanie .box_input_text input{background-color:#fff;border:medium none;color:#818181;display:block;float:left;font-size:14px;height:35px;line-height:35px;margin:0;padding:0 0 0 10px;width:210px}
#navigation .main-menu>li.wyszukiwanie .lfr-search-button{display:none}
.site-breadcrumbs{display:none;height:20px;margin:0 auto;padding-top:21px;width:960px}
.breadcrumbs-horizontal li+li{padding-left:7px}
.breadcrumbs-horizontal li{background:none repeat scroll 0 0 #fff;display:inline-block;line-height:20px;list-style-position:inside;text-align:center;margin:0;padding:0;max-width:none}
.breadcrumbs-horizontal li a{color:#5b677d;background:url("../images/lasy/breadcrumb/bread_white.png") no-repeat scroll right 0 rgba(0,0,0,0);display:inline-block;line-height:20px;margin:0 -10px 0 0;padding:0 22px 0 11px;position:relative;text-decoration:none}
.breadcrumbs-horizontal li a:hover{color:#5b677d}
.breadcrumbs-horizontal li.last{background:none repeat scroll 0 0 #f8f6f2;margin-top:0}
.breadcrumbs-horizontal li.last a{background:url("../images/lasy/breadcrumb/bread_beige.png") no-repeat scroll right 0 rgba(0,0,0,0)}
.full-article-mode .site-breadcrumbs,.magazin .site-breadcrumbs{display:block}
.site-breadcrumbs ul{background:0;border:0;overflow:hidden}
.site-breadcrumbs.lfr-hudcrumbs{padding-top:0}
.lfr-hudcrumbs ul{background-color:#031c07;background:none repeat scroll 0 0 rgba(3,28,7,0.8)}
.lfr-hudcrumbs .breadcrumbs li a,.lfr-hudcrumbs .breadcrumbs li span{color:white}
.signed-in.controls-visible #main-image,.page-maximized #main-image{display:none}
#footer{background-color:#1a1e1b;clear:both;color:white;margin:0 auto;padding-top:10px;padding-bottom:10px;width:100%;text-align:inherit;display:table}
.footer_c,.footer-content{margin:0 auto;width:967px}
.footer_box_first{float:left;padding-left:10px;padding-top:15px;width:230px}
.footer_box{color:#f0ede5;border-left:1px solid #707070;float:left;padding-left:35px;width:205px;min-height:210px}
.footer_box h3{font-size:14px}
.footer_box p{font-size:13px}
.footer_box a{color:#f0ede5;text-decoration:underline}
.ico{margin:20px 20px 20px 0}
.thread-message-view img{max-width:100%}
.naglowek_ico{clear:both;height:60px;margin:0 auto;width:960px}
.chrome .naglowek_ico{display:inline-block}
.naglowek_ico p{font-size:30px;color:#292f2d;font-weight:bold;margin:0;padding:21px 10px 10px;text-align:center;text-transform:uppercase}
.wyszukaj{background-color:#3d3d3d;color:white;height:270px;margin:0;width:220px;font-size:14px}
#search_2{float:left;margin:10px 0 0 10px;width:200px}
#search_2 select.checkText,#search_2 .checkText select{border:medium none;color:#3d3d3d;float:left;font:14px Open Sans,tahoma,verdana,helvetica,geneva,sans-serif;height:33px;padding-left:10px;padding-top:5px;width:200px}
#search_2 input.buttonSearch2{background:url("../images/lasy/arr_search2.png") repeat scroll 0 0 transparent;border:medium none;color:#fff;cursor:pointer;float:left;font-weight:bold;height:38px;text-align:left;width:134px;text-transform:uppercase}
.box_square{float:left;height:200px;width:220px}
.wstazka{background:url("../images/lasy/wstazka.png") no-repeat scroll 0 0 transparent;height:30px;margin:-10px 0 0 -10px;position:fixed;width:72px}
.maska_square_p{background-color:#2b322b;color:white;font-size:16px;font-weight:bold;height:36px;margin-top:149px;padding-top:15px;position:fixed;text-align:center;text-transform:uppercase;width:220px}
.maska_square_p a{color:white;text-decoration:none}
.aui-tabview-list,.aui-tab-active,body>.lfr-menu-list ul,.lfr-actions,.aui-dialog-content,.aui-dialog .aui-widget-hd,.modify-pages .delete-tab,input[type="submit"],input[type="button"],input[type="reset"],button{border-radius:0}
input[type="submit"],input[type="button"],input[type="reset"],button,.lfr-actions,.lfr-actions ul{text-shadow:none}
.signed-out .portlet-topper-toolbar{display:none}
.portlet-journal-content .portlet-borderless-container{padding:0 0 20px}
.lasy_main_page_tiles #column-1{display:none}
.nfh-organizations-portlet2 .portlet-borderless-container{padding-bottom:20px}
.organization2 .lasy_main_page_tiles #column-3{padding-top:89px}
.lasy_main_page_tiles #column-3{padding-top:101px}
.signed-in.controls-visible .lasy_main_page_tiles #column-3{padding-top:113px}
.asset-titles{display:table-cell}
.asset-titles .article-abstract{float:left}
.controls-hidden .add-asset-selector,.signed-out .add-asset-selector{margin-bottom:0}
.aui-w70{width:733px}
.aui-w30{width:220px}
.portlet-title>span>img{display:none}
.powered-by{clip:rect(0px,0px,0px,0px);text-indent:-9999px}
.najnowsze-aktualnosci .portlet{background-color:transparent;padding:0;width:220px;margin-top:102px}
.full-article-mode .najnowsze-aktualnosci .portlet{margin-top:39px}
.najnowsze-aktualnosci .portlet-topper-toolbar{margin-top:-25px}
.full-article-mode .portlet.show-asset-full-content{margin-top:12px}
.full-article-mode .najnowsze-aktualnosci .portlet.show-asset-full-content{margin-top:20px}
.najnowsze-aktualnosci .portlet-topper{background:0;border:0;background-color:#2b2b2b;box-shadow:none}
.najnowsze-aktualnosci .portlet-title{color:white;font-size:14px;font-weight:bold;padding:10px 0 10px 10px;text-shadow:none;text-transform:uppercase}
.najnowsze-aktualnosci .portlet-content,.najnowsze-aktualnosci .portlet-minimized .portlet-content-container{background-color:transparent;padding:0}
.najnowsze-aktualnosci .final-separator{margin:0}
.signed-out .portlet-asset-publisher .lfr-meta-actions{padding-top:0}
.portlet-asset-publisher .lfr-meta-actions{padding-top:1em}
.portlet-asset-publisher .asset-full-content .asset-content{margin-right:5px}
.portlet-asset-publisher .asset-content{margin-left:5px}
.portlet-asset-publisher .portlet-borderless-container .full-content{padding-top:20px}
.article-lp{font-size:16px;line-height:1.3em;color:#2b2b2b;margin-right:10px}
.article-lp .event{background-color:#fff;border:10px solid #fff;height:305px}
.article-lp .event .event-date{background-color:#fff;font-size:70px;font-weight:300;height:131px;line-height:1em;margin-left:98px;padding-top:13px;position:fixed;text-align:center;width:145px}
.article-lp .event-date span{background-color:#28b532;bottom:0;color:#fff;display:inline-block;font-size:17px;font-weight:normal;left:0;line-height:1em;padding:14px 0;position:fixed;text-transform:uppercase;width:145px}
.article-lp .event .image-wrapper{height:305px;overflow:hidden;width:333px;float:left;position:relative}
.article-lp .event .image-wrapper img{max-width:333px}
.article-lp .event .event-data{float:left;margin-left:10px;margin-right:10px;width:335px}
.article-lp .event .event-data .event-data-header{background-color:#28b532;color:#fff;margin-bottom:25px;padding:5px;text-align:center;text-transform:uppercase;width:100%}
.article-lp .event .event-data .event-data-dates{font-size:14px;width:345px}
.article-lp .event .event-data .event-data-dates-wrapper{background-color:#f0ede5;border:1px solid #a0a0a0;display:table;margin-bottom:10px;width:100%}
.article-lp .event .event-data .event-data-header2{margin-bottom:10px;text-transform:uppercase}
.article-lp .event .event-data .event-data-dates-row{border:1px solid #a0a0a0;display:table-row}
.article-lp .event .event-data .event-data-dates-row div{display:table-cell}
.article-lp .event .event-data .event-data-dates-wrapper .start-date,.article-lp .event .event-data .event-data-dates-wrapper .to-date{border-left:1px solid #a0a0a0;padding:5px 15px}
.article-lp .event .event-data .event-data-dates-wrapper .start-date-marker,.article-lp .event .event-data .event-data-dates-wrapper .to-date-marker{padding:5px 15px;width:0}
.article-lp .event .event-data .event-data-place{background-color:#f0ede5;border:1px solid #a0a0a0;display:table;margin-bottom:10px;width:100%}
.article-lp .event .event-data .event-data-place .event-data-row{border:1px solid #a0a0a0;display:table-row}
.article-lp .event .event-data .event-data-place .event-data-row div{display:table-cell;padding:5px 15px}
.article-lp .gallery-wrapper{border:10px solid white;width:98%}
.article-lp .single-gallery{border:10px solid white;display:inline-block;position:relative}
.article-lp .single-gallery img{display:block}
.article-lp .single-gallery .mainphoto-description{background-color:#000;bottom:0;color:#fff;font-size:13px;opacity:.8;padding:2px 8px;position:fixed;text-align:left;width:auto;z-index:300}
.article-lp p img,.article-lp p .img-wrapper img,.article-lp iframe,.article-lp-gallery img,.article-lp-content img{border:10px solid white!important;margin-bottom:5px;margin-right:10px;max-width:100%!important;box-shadow:0 0 10px #ccc}
.article-lp p img,.article-lp p .img-wrapper img,.article-lp-gallery img,.article-lp-content img{height:auto!important}
.article-lp-content h1{font-size:17px}
.article-lp-content h2{font-size:16px}
.article-lp-content h3{font-size:15px}
.article-lp-gallery a{text-decoration:none;float:left;max-width:200px}
.article-lp .img-caption{color:#656565;font-size:14px;text-align:left;padding:0 20px 20px 10px}
.article-lp-title{color:#292f2d;font-size:26px;text-transform:uppercase;margin-top:0;line-height:1.1em}
.article-lp-metadata{color:#656565;text-transform:uppercase;margin-bottom:1em;font-size:12px}
.article-lp .serwisy_sp{height:20px;margin-bottom:10px;padding-top:6px}
.article-lp .serwisy_sp img{margin-top:2px;cursor:pointer}
.article-lp .serwisy_sp iframe{border:inherit!important;box-shadow:inherit!important}
.article-lp .serwisy_sp .stat{background-color:#fff;border-color:#656565;border-style:solid;border-width:1px;color:#656565;height:17px;margin:10px;vertical-align:top;font-size:12px;padding:0 3px}
.article-lp-description{color:#2b2b2b;font-weight:bold;font-size:17px;margin-top:45px;margin-bottom:1.3em}
.article-lp-images{text-align:center;margin-bottom:1em}
.image-gallery-row{display:inline-block}
.article-lp-attachments{box-shadow:0 0 5px #ccc;margin-top:20px}
.article-lp-attachments h2{background-color:#d3cfc6;color:#565656;display:block;font-size:14px;margin:0 0 1px;padding:10px;text-transform:uppercase}
.article-lp-attachments ul{margin:0}
.article-lp-attachments li{background-color:#e3dfd6;list-style-type:none;margin-bottom:1px;padding:5px}
.article-lp-attachments li a{color:#565656;font-size:14px;text-decoration:none}
.article-lp-attachments li a:hover{color:#7c7c7c;text-decoration:underline}
.article-lp cite{background-color:#d3cfc6;box-shadow:0 0 10px #ccc;color:#2b2b2b;display:block;float:right;font-style:italic;font-weight:bold;margin-left:10px;margin-right:10px;max-width:250px;padding:25px}
.article-lp-cite-img{background-image:url("../images/lasy/double_quote_white3.png");background-repeat:no-repeat;color:#fff;display:inline-block;float:left;height:36px;margin-left:-21px;margin-right:20px;margin-top:-21px;width:48px}
.journal-content-article #document-action-sendto{display:none}
.show-asset-full-content .portlet-title{display:none}
.lista-aktualnosci .show-asset-full-content .portlet-topper,.show-asset-full-content .portlet-topper{background:0;margin:0}
.news-tiles .final-separator{display:none}
.news-tile{height:420px;margin:0 10px 20px;width:460px;overflow:hidden}
.news-tile .event-date{background-color:#fff;font-size:70px;font-weight:300;height:136px;line-height:1em;margin-left:157px;padding-top:19px;position:fixed;text-align:center;width:145px}
.news-tile .event-date span{background-color:#28b532;bottom:0;color:#fff;display:inline-block;font-size:17px;font-weight:normal;left:0;line-height:1em;padding:14px 0;position:fixed;text-transform:uppercase;width:145px}
.news-tile>img{width:100%}
.news-tile .summary{background-color:white;color:#2b2b2b;height:93px;margin-top:287px;padding:20px 25px;position:fixed;text-transform:uppercase;width:410px;font-size:14px}
.news-tile .summary a{color:#2b2b2b;text-decoration:none}
.news-tile .summary a:hover{color:#2b2b2b;text-decoration:none}
.news-tile .summary h3{display:inline-block;font-size:16px;margin:0 .3em 0 0;max-height:2.3em;overflow:hidden;padding-bottom:.8em}
.news-tile .asset-summary-text{max-height:4em;overflow:hidden}
.news-tile-small{height:200px;margin:0 10px 20px;overflow:hidden;position:relative;width:220px}
.news-tile-small .event-date{background-color:#fff;font-size:38px;font-weight:300;height:83px;line-height:1em;margin-left:65px;padding-top:13px;position:fixed;text-align:center;width:90px}
.news-tile-small .event-date span{background-color:#28b532;bottom:0;color:#fff;display:inline-block;font-size:12px;font-weight:normal;left:0;line-height:1em;padding:8px 0;position:fixed;text-transform:uppercase;width:90px}
.news-tile-small>a>img{width:100%}
.news-tile-small .summary,.recommended-220x200-tile .summary{background-color:white;bottom:-145px;color:#2b2b2b;height:183px;overflow:hidden;padding:10px 15px;position:fixed;text-transform:uppercase;transition:bottom .5s ease 0s;width:190px}
.news-tile-small:hover .summary,.recommended-220x200-tile:hover .summary{bottom:0}
.news-tile-small .summary .article-summary{display:none}
.news-tile-small:hover .summary .article-summary{display:block}
.news-tile-small .summary a{color:#2b2b2b;text-decoration:none}
.news-tile-small .summary a:hover{color:#2b2b2b;text-decoration:none}
.news-tile-small .summary h3,.recommended-220x200-tile .summary h3{font-size:12px;margin:0 .3em 1em 0;max-height:3em;overflow:hidden}
.news-tile-small .asset-summary-text{max-height:130px;overflow:hidden}
.no-tile{width:218px;height:198px;border:1px solid #ccc}
.aktualnosci-glowna .portlet{background:none repeat scroll 0 0 transparent;border:medium none;padding:0}
.aktualnosci-glowna .portlet-topper{background:url("../images/lasy/aktualnosci_ico.png") no-repeat scroll 0 50% transparent;border:medium none;box-shadow:none;margin:18px 3px 23px 350px;padding:10px 0 10px 50px}
.aktualnosci-glowna .portlet-title{color:#353535;font-size:30px;text-shadow:none;text-transform:uppercase}
.aktualnosci-glowna .portlet-content{padding:0}
.lista-aktualnosci .portlet{background:none repeat scroll 0 0 transparent;border:medium none;padding:0}
.lista-aktualnosci .portlet-topper{background:url("../images/lasy/aktualnosci_ico.png") no-repeat scroll 0 50% transparent;border:medium none;box-shadow:none;margin:32px 3px 23px 12px;padding:10px 0 10px 50px}
.lista-aktualnosci .portlet-title{color:#353535;font-size:24px;text-shadow:none;text-transform:uppercase}
.lista-aktualnosci .portlet-content{padding:0}
.news-title-small-item{background-color:#fff;clear:both;height:60px;margin-top:1px;width:220px}
.news-title-small-item:hover{background-color:#28b532;color:#fff}
.news-title-small-item a{color:#222}
.news-title-small-item:hover a,.news-title-small-item .asset-title a:hover{color:#fff;text-decoration:none}
.news-title-small-item .tile{border:1px solid white;float:left;margin:10px;max-height:38px;overflow:hidden}
.news-title-small-item .tile img{width:42px}
.news-title-small-item .no-tile{border:1px solid white;display:inline-block;float:left;height:38px;margin:10px;width:42px}
.news-title-small-item .asset-title{border:medium none;display:block;font-size:14px;font-weight:normal;height:35px;margin:0;overflow:hidden;padding-top:10px;text-transform:uppercase;max-width:145px}
.polecane-artykuly .portlet{background-color:transparent;border:0;padding:0;width:220px}
.polecane-artykuly .portlet-content,.polecane-artykuly .portlet-minimized .portlet-content-container{padding:0}
.polecane-artykuly .portlet-topper{background:url("../images/lasy/polecamy_small_ico.png") no-repeat scroll 0 50% transparent;border:0;box-shadow:none;margin-bottom:10px;margin-top:25px}
.polecane-artykuly .portlet-topper-toolbar{margin-top:-15px}
.polecane-artykuly .portlet-title{font-size:14px;padding:10px 0 10px 35px;text-shadow:none;text-transform:uppercase}
.recommended-220x125-tile{height:125px;margin:0 0 20px;overflow:hidden;position:relative;width:220px}
.recommended-220x125-tile.resize-image{height:auto!important}
.recommended-220x125-tile.resize-image .journal-content-article img{height:auto!important;width:220px!important}
.recommended-220x125-tile .summary{background-color:#000;bottom:-96px;color:#2b2b2b;height:113px;opacity:.8;overflow:hidden;padding:3px 15px 10px;position:fixed;transition:bottom .5s ease 0s;width:190px;zoom:1;filter:alpha(opacity=80)}
.recommended-220x125-tile:hover .summary{bottom:0}
.recommended-220x125-tile .summary .article-summary{display:none}
.recommended-220x125-tile:hover .summary .article-summary{display:block}
.recommended-220x125-tile .summary a{color:white;text-decoration:none}
.recommended-220x125-tile .summary a:hover{color:white;text-decoration:none}
.recommended-220x125-tile .summary h3{font-size:12px;margin:0 .3em .3em 0;font-weight:normal;line-height:2em;text-transform:uppercase}
.recommended-220x125-tile:hover .summary h3{line-height:inherit}
.recommended-220x125-tile .no-tile{width:218px;height:123px;border:1px solid #ccc}
.recommended-220x125-tile .asset-summary-text{height:55px;overflow:hidden}
.polecane .portlet{background-color:transparent;border:0;padding:0}
.polecane .portlet-content,.polecane .portlet-minimized .portlet-content-container{padding:0}
.polecane .portlet-topper{background:url("../images/lasy/polecamy_ico.png") no-repeat scroll 354px 50% transparent;border:medium none;box-shadow:none;margin:0 11px 20px 12px;padding:10px 0 10px 50px;text-align:center}
.polecane .portlet-title{font-size:30px;color:#292f2d;text-shadow:none;text-transform:uppercase}
.recommended-460x420-tile{height:420px;margin:0 10px 20px;width:460px;overflow:hidden}
.recommended-460x420-tile .summary{background-color:#373733;color:#fff;font-weight:bold;height:18px;margin-top:362px;padding:20px 25px;position:fixed;width:410px;text-transform:uppercase}
.recommended-460x420-tile .summary a{color:white;text-decoration:none}
.recommended-460x420-tile .summary a:hover{color:white;text-decoration:none}
.recommended-460x420-tile .summary h3{font-size:16px;line-height:1.2em;margin:0 .3em 1em 0;max-height:1.1em;overflow:hidden}
.recommended-220x200-tile{height:200px;margin:0 10px 20px;overflow:hidden;position:relative;width:220px}
.recommended-220x200-tile .summary{background-color:#373733;color:white}
.recommended-220x200-tile .summary .article-summary{display:none}
.recommended-220x200-tile:hover .summary .article-summary{display:block}
.recommended-220x200-tile .summary a{color:white;text-decoration:none}
.recommended-220x200-tile .summary a:hover{color:white;text-decoration:none}
.no-tile{width:218px;height:198px;border:1px solid #ccc}
.recommended-460x200-tile{height:200px;margin:0 10px 20px;overflow:hidden;position:relative}
.dane-jednostki{background-color:#f5f5f5}
.box_kontakt{background-color:#f5f5f5;color:#000;height:340px;padding:10px;width:458px;display:inline-block}
.box_kontakt.w460h340{vertical-align:top}
.box_kontakt_p .stanowisko{display:block;min-height:36px}
.box_kontakt p,.box_kontakt_p p{color:#828282;margin:10px}
.box_kontakt p img,.box_kontakt_p p img{padding:5px 10px 5px 0;vertical-align:middle}
.box_kontakt p>img,.box_kontakt_p p>img,.toggle_container .block p>img{border:0;box-shadow:none;margin:0}
.box_kontakt .title{color:#656565;font-size:18px}
.box_kontakt_p{background-color:#f5f5f5;color:#000;float:left;padding:5px;width:950px}
.person{background-color:#fff;float:left;margin:5px;width:227px;min-height:262px}
.person .photo img{max-width:190px}
.zakladka_1{background-color:#fafafa;color:#51544c;float:left;font:bold 14px Open Sans,tahoma,verdana,helvetica,geneva,sans-serif;padding:10px;width:940px}
.zakladka_1 h2,.zakladka_2 h2{margin:0;font-size:14px}
.zakladka_2{background-color:#f2f2f2;color:#51544c;float:left;font:bold 14px Open Sans,tahoma,verdana,helvetica,geneva,sans-serif;padding:10px;width:940px}
h2.trigger a:hover{color:#ccc;text-decoration:underline}
h2.trigger a{background-image:url("../images/common/bottom.png");background-position:right center;background-repeat:no-repeat;color:#51544c;display:block;font:bold 14px Open Sans,tahoma,verdana,helvetica,geneva,sans-serif}
h2.trigger.active a{background-image:url("../images/common/top.png")}
.toggle_container .block{width:930px}
.toggle_container{font-size:1.2em}
.toggle_container .block p{font-size:12px;font-weight:normal}
.kontakt{background-color:#f5f5f5;margin:0 auto;width:960px}
.kontakt .address{margin-left:19px;margin-top:-30px}
.kontakt .address>p{margin-bottom:0;margin-top:0}
.taglib-page-iterator .search-results{display:none}
.nfh-cp-magazin-portlet{margin-right:10px;margin-top:20px}
.magazin .najnowsze-aktualnosci .portlet{margin-top:20px}
.nfh-cp-magazin-portlet .asset-abstract{background-color:#fff;display:inline-block;margin-bottom:10px;padding:20px;width:678px}
.nfh-cp-magazin-portlet .asset-abstract.odd img{float:left}
.nfh-cp-magazin-portlet .asset-abstract.odd .summary{display:inline-block;float:right;margin-left:15px;width:333px}
.nfh-cp-magazin-portlet .asset-abstract.even img{float:right}
.nfh-cp-magazin-portlet .asset-abstract.even .summary{display:inline-block;float:left;margin-right:15px;width:333px}
.nfh-cp-magazin-portlet a{color:#2b2b2b;text-decoration:none}
.nfh-cp-magazin-portlet a:hover{color:#2b2b2b;text-decoration:underline}
.nfh-cp-magazin-portlet .asset-title{border-bottom:1px solid #e7e7e7;display:inline-block;font-size:16px;margin:0 0 20px;padding-bottom:15px;text-transform:uppercase}
.nfh-cp-magazin-portlet .description{font-size:14px}
.desktop-hidden{display:none}
#portlet_77 .portlet-topper{display:none}
.clearboth:after{clear:both;content:"";display:block;height:0;line-height:0}
.search_bar{padding-bottom:30px;margin-top:10px}
.search_bar label{color:#6a6a6a;float:left;font-size:21px;font-weight:bold;line-height:38px;margin:0 12px 0 0}
.search_bar .aui-field-wrapper{float:right}
.search_bar .aui-field-wrapper input{vertical-align:top}
.search_bar .aui-field-wrapper input[type="text"]{font-family:'Open Sans';font-size:14px;height:28px;padding-left:12px;width:580px}
.search_bar .aui-fieldset{margin-bottom:0}
.search-hint{color:#6a6a6a;padding:0 0 0 240px}
.search_bar select,.search_bar textarea,.search_bar input[type="text"],.search_bar input[type="password"],.search_bar input[type="datetime"],.search_bar input[type="datetime-local"],.search_bar input[type="date"],.search_bar input[type="month"],.search_bar input[type="time"],.search_bar input[type="week"],.search_bar input[type="number"],.search_bar input[type="email"],.search_bar input[type="url"],.search_bar input[type="search"],.search_bar input[type="tel"],.search_bar input[type="color"],.search_bar .uneditable-input{border-radius:4px;color:#555;display:inline-block;font-size:14px;height:20px;line-height:20px;margin-bottom:10px;padding:4px 6px;vertical-align:middle;width:580px;height:28px}
.search_bar textarea,.search_bar input[type="text"],.search_bar input[type="password"],.search_bar input[type="datetime"],.search_bar input[type="datetime-local"],.search_bar input[type="date"],.search_bar input[type="month"],.search_bar input[type="time"],.search_bar input[type="week"],.search_bar input[type="number"],.search_bar input[type="email"],.search_bar input[type="url"],.search_bar input[type="search"],.search_bar input[type="tel"],.search_bar input[type="color"],.search_bar .uneditable-input{background-color:#fff;border:1px solid #ccc;box-shadow:0 1px 1px rgba(0,0,0,0.075) inset;transition:border .2s linear 0s,box-shadow .2s linear 0s}
.search_bar button{background:none repeat scroll 0 0 #28b532;color:white;font-size:14px;height:36px;margin-left:-4px;margin-top:1px;width:120px;vertical-align:top;text-transform:uppercase}
textarea:focus,input[type="text"]:focus,input[type="password"]:focus,input[type="datetime"]:focus,input[type="datetime-local"]:focus,input[type="date"]:focus,input[type="month"]:focus,input[type="time"]:focus,input[type="week"]:focus,input[type="number"]:focus,input[type="email"]:focus,input[type="url"]:focus,input[type="search"]:focus,input[type="tel"]:focus,input[type="color"]:focus,.uneditable-input:focus{border-color:rgba(82,168,236,0.8);box-shadow:0 1px 1px rgba(0,0,0,0.075) inset,0 0 8px rgba(82,168,236,0.6);outline:0 none}
.portlet-asset-publisher .magazin .asset-content{display:inline-block;margin:0}
.portlet-asset-publisher .magazin .asset-abstract{background-color:#fff;display:inline-block;margin-bottom:10px;padding:20px;width:678px}
.portlet-asset-publisher .magazin .asset-abstract.odd img{float:left}
.portlet-asset-publisher .magazin .asset-abstract.even img{float:left}
.portlet-asset-publisher .magazin .asset-abstract img{max-width:330px}
.portlet-asset-publisher .magazin .asset-abstract .summary{display:inline-block;float:left;margin-left:15px;width:333px}
.portlet-asset-publisher.lewo-prawo .magazin .asset-abstract.odd .summary{float:right;margin-left:15px}
.portlet-asset-publisher .magazin .asset-abstract.even .summary{float:right;margin-left:15px}
.portlet-asset-publisher .magazin .asset-title{border-bottom:1px solid #e7e7e7;display:inline-block;font-size:16px;margin:0 0 20px;padding-bottom:15px;text-transform:uppercase}
.portlet-asset-publisher .magazin .asset-title a{color:#2b2b2b;text-decoration:none}
.portlet-asset-publisher .magazin .description{font-size:14px}
