/* Narrow screens ----------- */
@media only screen and (min-width: 741px) and (max-width: 1000px) {
  .dockbar {
    display: none; }

  #banner {
    width: 100%; }

  .footer_c {
    width: 100%; }

  #heading .lp-logo {
    max-width: 350px; }

  #heading a.company-title {
    margin-left: 125px; }

  .aui-w3-4, .aui-w75 {
    width: 65%; }

  .aui-w70 {
    width: 70%; }

  .aui-w30 {
    width: 30%; }

  .aui-w1-4, .aui-w25 {
    width: 35%; }

  #navigation ul {
    width: 100%; }

  #content {
    width: 100%;
    padding: 0; }

  .w960 {
    width: 100%; }

  .wyszukaj {
    margin: 0 auto; }

  .box_square {
    float: none;
    margin: 0 auto;
    height: auto; }

  .portlet-column {
    display: block;
    float: left; }

  .aktualnosci-glowna .portlet-topper {
    margin: 18px auto;
    text-align: center; } }
@media only screen and (max-width: 740px) {
  .aktualnosci-glowna .portlet-topper {
    margin: 10px auto; }

  .desktop-hidden {
    display: block; }

  .mobile-hidden {
    display: none!important; }

  #dockbar {
    display: none; }

  .w960 {
    max-width: 100%; }

  #banner {
    width: 100%; }

  #banner .company-title {
    overflow: hidden;
    margin: 0; }

  .aui-w10, .aui-w20, .aui-w25, .aui-w30, .aui-w40, .aui-w50, .aui-w60, .aui-w70, .aui-w75, .aui-w80, .aui-w90 {
    width: 100%; }

  #banner #heading .logo {
    display: block!important;
    height: 70px!important;
    margin: 10px 0;
    padding-bottom: 0;
    width: 100%; }

  #banner #heading .logo span {
    font-size: 15px;
    padding-left: 82px;
    display: block!important;
    margin: 15px 0 0 0; }

  #mobile-organizations-button {
    margin-top: 30px;
    width: 25%;
    float: left;
    margin: 0 1%;
    height: 66px;
    background: #3E3E3D;
    color: #FFF;
    padding-top: 30px;
    font-size: 14px;
    padding: 30px 3% 0; }

  .wyszukaj {
    height: 70px!important;
    width: 100%; }

  #mobile-organizations {
    clear: both;
    margin: 0 1%;
    width: 98%; }

  #search_2 {
    float: none;
    margin: 0;
    padding: 5%;
    width: 90%; }

  #search_2 p {
    display: none; }

  #search_2 .checkText select {
    width: 100%; }

  #search_2 div {
    float: left!important;
    margin-top: 0!important;
    width: 10%; }

  #search_2 input.buttonSearch2 {
    background: url("../images/lasy/arr_search2.png") repeat scroll 34px -2px rgba(0, 0, 0, 0);
    border: medium none;
    color: #FFF;
    cursor: pointer;
    float: left;
    font-weight: bold;
    height: 34px;
    text-align: left;
    width: 30px;
    text-transform: uppercase;
    text-indent: -9999em; }

  #search_2 .aui-field {
    display: block;
    width: 89%;
    float: left; }

  #mobile-search {
    width: 31%;
    float: left;
    margin: 0 1%;
    text-align: center;
    cursor: pointer;
    background: url(../images/lasy/lupa_black.png) no-repeat center 28px white;
    height: 96px; }

  #mobile-search a, #mobile-nav-button a {
    color: #031C07;
    text-decoration: none;
    font-size: 14px;
    padding-top: 55px;
    display: block;
    text-align: center; }

  #mobile-nav-button {
    width: 32%;
    float: left;
    margin: 0 1%;
    cursor: pointer;
    background: url(../images/lasy/menu_mobile.png) no-repeat center 28px white;
    height: 95px;
    border-bottom: 1px solid #fff; }

  #content-wrapper {
    margin: 1% auto;
    width: 98%;
    clear: both; }

  #main-image {
    display: none; }

  #navigation {
    display: none; }

  #content {
    width: 98%!important;
    margin: 0 auto!important;
    padding: 0!important; }

  .portlet-column {
    display: block;
    clear: both; }

  .asset-titles {
    display: block; }

  .portlet-column-content {
    padding: 0; }

  .portlet-layout {
    display: block; }

  .naglowek_ico {
    width: 100%; }

  .polecane .portlet-topper {
    padding: 10px; }

  .recommended-460x420-tile .summary {
    width: auto; }

  .recommended-460x420-tile {
    height: auto;
    margin: 0 0 10px 0;
    width: 100%;
    position: relative; }

  .news-tile {
    width: 100%;
    height: auto;
    margin: 0 0 20px 0;
    padding-bottom: 126px;
    position: relative; }

  .news-tile .summary {
    width: 90%;
    padding: 5%;
    bottom: 5px; }

  .news-tile .summary a img {
    width: 100%; }

  .news-tile-small {
    margin: 0 auto 20px;
    width: 100%; }

  .recommended-460x420-tile .summary {
    bottom: 0; }

  .recommended-460x200-tile, .recommended-460x200-tile {
    height: auto;
    margin: 0 0 20px; }

  #footer {
    width: 96%; }

  .recommended-460x420-tile img, .recommended-460x200-tile img, .recommended-460x200-tile img {
    width: 100%!important;
    height: auto!important; }

  .recommended-220x200-tile {
    margin: 0 auto 10px;
    height: auto;
    width: 100%; }

  .footer_box {
    min-height: 0; }

  .footer_box_first {
    float: left;
    height: 100%;
    padding: 10% 2% 0;
    width: 21%;
    padding-right: 10px;
    min-height: 0; }

  .footer_box_first img {
    width: 100%; }

  .footer_c {
    margin: 0 auto;
    width: 100%;
    min-height: 0; }

  .footer_box.contact {
    width: 69%;
    padding-left: 4%;
    min-height: 150px; }

  .footer_box.logos {
    clear: both;
    width: 100%;
    padding: 0;
    min-height: 0; }

  .footer_box.logos a {
    display: block;
    float: left; }

  .footer_box.logos img, .footer_box.logos img.ico {
    margin: 10px; }

  .news-title {
    height: auto;
    margin: 0 0 20px 0;
    width: 100%;
    overflow: hidden;
    padding-bottom: 100px; }

  .news-tile-small .summary, .recommended-220x200-tile .summary {
    width: 92%;
    padding: 10px 4%; }

  .asset-titles .article-abstract {
    float: none;
    overflow: hidden; }

  .wyszukaj {
    /* width: 100% */ }

  .box_square {
    /* float: none; */
    margin: 0 auto;
    clear: both;
    width: 100%;
    height: auto; }

  #wrapper.mobile-menu #mobile-nav-button {
    background: url(../images/lasy/menu_mobile.png) no-repeat center 28px #28b532;
    height: 95px;
    border-bottom: 1px solid #86D38B; }

  #wrapper.mobile-menu #navigation {
    background: none;
    height: auto;
    padding: 0 3px;
    display: block;
    overflow: hidden; }

  #wrapper.mobile-menu #navigation h1 {
    display: none; }

  #wrapper.mobile-menu #navigation ul {
    height: auto;
    overflow: hidden;
    background: none;
    width: 100%;
    border-bottom: 1px solid white; }

  #wrapper.mobile-menu #navigation ul > li {
    background: none;
    float: none;
    position: relative;
    display: block;
    border: none; }

  #wrapper.mobile-menu #navigation a {
    background-color: #28B532;
    border-bottom: 1px solid #86D38B;
    background-image: none; }

  #navigation li .child-menu.active {
    width: 100%;
    position: relative;
    border-left: none;
    padding: 0; }

  #navigation li .child-menu.active a {
    width: 96%;
    padding: 10px 2%; }

  #navigation .child-menu > li .child-menu2.active, #navigation .child-menu > li .child-menu3.active {
    position: relative;
    width: 100%;
    left: 0;
    top: 0;
    border-left: none;
    padding: 0;
    border-bottom: none!important; }

  #navigation li .child-menu2.active li a {
    width: 74%;
    padding: 10px 13%; }

  #navigation li .child-menu3.active li a {
    width: 64%;
    padding: 10px 18%; }

  #navigation .child-menu > li:hover .child-menu2, #navigation li:hover .child-menu, #navigation .child-menu > li:hover .child-menu2, #navigation .child-menu2 > li:hover .child-menu3 {
    display: none; }

  #navigation .child-menu.active, #navigation .child-menu2.active, #navigation .child-menu3.active {
    display: block!important; }

  #navigation li.has-children, #navigation .child-menu > li.has-children > a, #navigation .child-menu2 > li.has-children > a {
    background-image: none; }

  .asset-titles .article-abstract.article-abstract-news-tile-small, .article-abstract-220x200-tile, .lasy_main_page_tiles #column-3 .portlet-boundary {
    float: left;
    width: 48%;
    margin: 0 1%; }

  .lasy_main_page_tiles #column-3 .nfh-organizations-portlet2 {
    display: none; }

  .asset-titles .article-abstract.article-abstract-news-tile-small:first-child {
    margin-left: 0; }

  .box_square .maska_square_p {
    width: 100%;
    bottom: 0;
    left: 0; }

  .box_square p img {
    width: 100%; }

  .menu-opener {
    width: 40px;
    height: 40px;
    display: block;
    position: absolute;
    z-index: 999;
    right: 0;
    color: #FFF;
    line-height: 40px;
    text-align: center;
    font-size: 26px;
    cursor: pointer;
    background: url(../images/lasy/plusiminus.png) no-repeat center top;
    top: 5px; }

  .menu-opener.on {
    background-position: center bottom; }

  .child-menu .menu-opener {
    top: 0; }

  .nfh-cp-magazin-portlet {
    margin-right: 0; }

  .nfh-cp-magazin-portlet .asset-abstract {
    width: 100%;
    padding: 0; }

  .nfh-cp-magazin-portlet .asset-abstract img {
    width: 100%; }

  .nfh-cp-magazin-portlet .asset-abstract .summary {
    width: 90%!important;
    padding: 5%!important; }

  .nfh-cp-magazin-portlet .asset-title {
    display: block; }

  .najnowsze-aktualnosci .portlet {
    width: 100%; }

  .news-title-small-item {
    width: 100%; }

  .polecane-artykuly .portlet {
    width: 100%; }

  .recommended-220x125-tile.resize-image, .recommended-220x125-tile.resize-image img {
    width: 100%; }

  .recommended-220x125-tile, .recommended-220x125-tile img {
    width: 100%; }

  .recommended-220x125-tile .summary {
    width: 90%;
    padding: 0 5%;
    bottom: 5px;
    height: auto; }

  .article-lp p img, .article-lp p .img-wrapper img, .article-lp iframe, .article-lp-gallery img, .article-lp-content img {
    height: auto!important;
    max-width: 97%!important; }

  .news-tile-small .event-date {
    font-size: 30px;
    height: 60px;
    line-height: 18px;
    position: absolute;
    width: 36%;
    margin: 0 auto;
    left: 32%; }

  .news-tile-small .event-date span {
    width: 100%; }

  .kontakt {
    width: 100%; }

  .box_kontakt {
    height: auto;
    width: 96%;
    padding: 2%; }

  .box_kontakt_p {
    width: 100%; }

  .person {
    width: 98%;
    margin: 1%; }

  .zakladka_1, .zakladka_2 {
    padding: 3%;
    width: 94%; } }

