{% extends "base.html" %}

{% block title %}Edit Health{% endblock %}

{% block main %}
<h1>Edit Health</h1>

<div id="muscle">
  <h2>Muscle Groups</h2>
  {% for muscle_group in muscle_groups %}
    <div class="muscle-group"><a href="musclegroup/{{ muscle_group.name }}/">{{ muscle_group.name }}</a></div>
  {% endfor %}
  <form method="POST">
    {% csrf_token %}
    {{ group_form.name }}
    <input type="submit">
  </form>
</div>

{% endblock %}
