{% extends "base_tut.html" %}

{% block title %}My amazing blog{% endblock %}

{% block content %}
{% for object in objects %}
    <p>object line</p>
    <h2>{{ object.description }}</h2>
    {% if object.caption %}<div class="text">{{ object.caption|safe }}</div>{% endif %}
{% endfor %}
{% endblock %}