<!DOCTYPE html>
<style>
	.content {
		max-width: 500px;
		margin: auto; 
		width: 100%;
		position:absolute;
	}
</style>
{% load i18n %}

<html lang="en">
		<head>
		    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
				<meta name="viewport" content="width=device-width, initial-scale=1.0">
				<meta http-equiv="X-UA-Compatible" content="IE=Edge">
				<title> Zakład Drzewny Rząd Władysława</title>
				<link href="/static/css" rel="stylesheet" type="text/css">
			<!--
			<script type="text/javascript" async="" src="/static/js/ga.js"></script>
			<script async="" src="/static/js/ga.js" type="text/javascript"></script>
			<script src="/static/js/jquery-1.10.2.min.js" type="text/javascript"></script>
			<script src="/static/js/jquery.lazyload.min.js" type="text/javascript"></script>
			<script src="/static/js/jquery.cookie.js" type="text/javascript"></script>
			<script src="/static/js/jquery.bxslider.js" type="text/javascript"></script>
			<script src="/static/js/jquery.print.js" type="text/javascript"></script>
			<script src="/static/js/jquery.Jcrop.min.js" type="text/javascript"></script>
			<script src="/static/js/css3-mediaqueries.js" type="text/javascript"></script>
			<script src="/static/js/jquery.prettyPhoto.js" type="text/javascript"></script>

			<script src="/static/js/jquery-enlightbox.min.js" type="text/javascript"></script>
			<script src="/static/js/jquery.royalslider.min.js" type="text/javascript"></script>
			<!--<link href="http://www.zilp.lasy.gov.pl/lasy-theme/images/favicon.ico" rel="Shortcut Icon"> -->
			<!--
			-->
			<link href="/static/css/main.css" rel="stylesheet" type="text/css">
			<link href="/static/css/main(1).css" rel="stylesheet" type="text/css">
			<link href="/static/css/main(2).css" rel="stylesheet" type="text/css">
			<!--			-->
			<link class="lfr-css-file" href="/static/css/main(3).css" rel="stylesheet" type="text/css">
			
			<style type="text/css">
					#navigation {
									height: 60px;
									}
					/*
					.signed-in.controls-visible .lasy_main_page_tiles #column-3 {
									padding-top: 99px;
									}
					
					.lasy_main_page_tiles #column-3 {
									padding-top: 89px;
									}
					*/
				</style>
	
			<style type="text/css">
	
				#p_p_id_101_INSTANCE_x9eK_ .portlet {
						border-width:;
						border-style:
						}
				
				#p_p_id_101_INSTANCE_kCS6_ .portlet {
						border-width:;
						border-style:
						 }
	
			 </style>
	
			<link rel="stylesheet" type="text/css" href="/static/css/royalslider.css">
			<link rel="stylesheet" type="text/css" href="/static/css/rs-default.css">
			<link rel="stylesheet" type="text/css" href="/static/css/prettyPhoto.css">
			<link rel="stylesheet" type="text/css" href="/static/css/enlightbox.css">
			<link rel="stylesheet" type="text/css" href="/static/css/responsive.css">
			<link id="aui_3_4_0_1_59" type="text/css" rel="stylesheet" href="/static/saved_resource" charset="utf-8">
	
		
	<!--
			-->
			<link href="/static/css/jquery.bsPhotoGallery.css" rel="stylesheet">
			<script src="//code.jquery.com/jquery-1.10.2.min.js"></script>
			<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
			<script src="/static/js/jquery.bsPhotoGallery.js"></script>
	
	
			<!--</script>-->
	
			<script>
				$(document).ready(function(){
					$('ul.first').bsPhotoGallery({
						"classes" : "col-lg-2 col-md-4 col-sm-3 col-xs-4 col-xxs-12",
						"hasModal" : true,
						// "fullHeight" : false
					});
				});/*
				$("a[rel^='prettyPhoto']").prettyPhoto({
	custom_markup: '<div id="map_canvas" style="width:260px; height:265px"></div>'
});*/
			</script>
		</head>
	
		<style>
			@import url(https://fonts.googleapis.com/css?family=Bree+Serif);
	
			body {
					background:#ebebeb;
					}
	
			ul {
					padding:0 0 0 0;
					margin:0 0 40px 0;
					}
	
			ul li {
					list-style:none;
					margin-bottom:10px;
					}
	
			.text {
					/*font-family: 'Bree Serif';*/
					color:#666;
					font-size:11px;
					margin-bottom:10px;
					padding:12px;
					background:#fff;
					}
	
			#navigation ul li {
					display: inline;
					}   
	
			#navigation ul {
					width: 100%;
					/*background: #031C07;*/
					}
	
	
		</style>
	<!--
	
	 -->

  <body  class="yui3-skin-sam controls-visible signed-out public-page organization-site  first-layout magazin organization2" style="width: 100%;position:absolute">
		  <div id="wrapper">
				<header id="banner" role="banner">
					<div id="heading">
						<h1 class="company-title">
							<a class="logo lp-logo" href="home" title="Zakład Drzewny Rząd Władysława">
								<span class="mobile-hidden "  style="font-size:40px">Zakład Drzewny Rząd Władysława</span>
							</a>
						</h1>
						<a class="company-title mobile-hidden" href="home" target="_blank">
							<img alt="Zakład Drzewny Rząd Władysława" src="/static/images/logo_zaklad_drzewny_mini.png">
						</a>
						<div class="lang mobile-hidden"></div>
					</div>
				</header>
				<!--
        <img alt="Zakład Drzewny Rząd Władysława" src="/static/images/logo_zaklad_drzewny_mini.png">
        -->
				<div id="navigation">
					<style>
						#navigation ul {
							list-style-type: none;
							margin: 0;
							padding: 0;
							overflow: hidden;
							background-color: #031C07/*#333*/;
							}
						li {
							float: left;
							}
						li a {
							display: block;
							color: white;
							text-align: center;
							padding: 14px 16px;
							text-decoration: none;
							}
						/* Change the link color to #111 (black) on hover */
						li a:hover {
							background-color: #111;
							}
					</style>
						<!-- <h1><span>Nawigacja</span></h1> -->
						<ul class="main-menu">
								<style>li.has-children a span {font-size:23px;}</style>
				
								<li class=" has-children"><a href="{% url 'piano_page' %}"><span>Oferta</span></a><span class="menu-opener desktop-hidden"></span></li>
								<li class=" has-children"><a href="{% url 'about_page' %}"><span> O firmie </span></a></li>
								<li class=" has-children"><a href="{% url 'kontakt' %}"><span> Kontakt </span></a><span class="menu-opener desktop-hidden"></span></li>
								<li class=" has-children"><a href="{% url 'certyfikaty' %}"><span> Certyfikaty </span></a><span class="menu-opener desktop-hidden"></span></li>
						</ul>
				</div>




<!-- chwilowo zakomentowane, ale odkomentowac to!!! -->
			
				<div id="main-image">
					<div class="carousel-item">
						<div class="carousel-item-fader">&nbsp;</div>
								<img alt="" src="/static/images/image_gallery">
					</div>
				</div>
			
<!-- body div div div div div div  div div div div div -->
		<div id="content">
			<div class="portlet-boundary portlet-boundary_103_  portlet-static portlet-static-end  " id="p_p_id_103_">
				<span id="p_103"></span>
				<div class="portlet-body"></div>
			</div>
			<div class="columns-2" id="main-content" role="main">
				<div class="portlet-layout">
					<div class="aui-w70 portlet-column portlet-column-first" id="column-1">
						<div class="portlet-dropzone portlet-column-content portlet-column-content-first" id="layout-column_column-1">
							<div class="portlet-boundary portlet-boundary_nfhcpmagazinportlet_WAR_nfhcptilestoolsportlet_  portlet-static portlet-static-end portlet-borderless nfh-cp-magazin-portlet " id="p_p_id_nfhcpmagazinportlet_WAR_nfhcptilestoolsportlet_">
								<span id="p_nfhcpmagazinportlet_WAR_nfhcptilestoolsportlet"></span>
								<div class="portlet-body">
									<div class="portlet-borderless-container" style="">
										<div class="portlet-body">
											{% for object in objects %}
											    <div class="container">
													<div id="map_canvas" class="row" style="text-align:center; border-bottom:1px dashed #ccc;  padding:0 0 20px 0; margin-bottom:40px;">
														<h3 style="font-family:'Bree Serif', arial; font-weight:bold; font-size:30px;">
															<a style="text-decoration:none; color:#666;" href="http://michaelsoriano.com/create-a-responsive-photo-gallery-with-bootstrap-framework/">{{ object.title }} </a>
														</h3>
														<p>{{ object.description }}</p>
													</div>
													<ul class="row first">
														{% for photo in object.public %}
          				                                    <!--
												            <a href="{{ photo.get_absolute_url }}">
															    <img src="{{ photo.get_thumbnail_url }}" class="{% block gallery-photo-class %}{% endblock %}" alt="{{ photo.title }}"/></a>
								                            -->
															<li>
																<img alt="{{ photo.title }}" src="{{ photo.get_thumbnail_url }}"> <!--src="{{ photo.get_display_url }}"--> 
													            {% if object.caption %}<div class="text">{{ object.caption|safe }}</div>{% endif %}
												            </li>
										                {% endfor %}
													</ul>
												</div> <!-- /container -->
											{% endfor %}
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
{% for object in objects %}
											    <div class="container">
													<div id="map_canvas" class="row" style="text-align:center; border-bottom:1px dashed #ccc;  padding:0 0 20px 0; margin-bottom:40px;">
														<h3 style="font-family:'Bree Serif', arial; font-weight:bold; font-size:30px;">
															<a style="text-decoration:none; color:#666;" href="http://michaelsoriano.com/create-a-responsive-photo-gallery-with-bootstrap-framework/">{{ object.title }} </a>
														</h3>
														<p>{{ object.description }}</p>
													</div>
													<ul class="row first">
														{% for photo in object.public %}
          		
															<li>
																<img alt="{{ photo.title }}" src="{{ photo.get_thumbnail_url }}"> <!--src="{{ photo.get_display_url }}"--> 
													            {% if object.caption %}<div class="text">{{ object.caption|safe }}</div>{% endif %}
												            </li>
										                {% endfor %}
													</ul>
												</div> <!-- /container -->
											{% endfor %}

  </body>
</html>
