@font-face { font-family: "Walkway Bold"; src: url("https://vomitter.awangarda.nscontext.eu/get/14ad3fb5e92835eab28b5d754c39bd25/159/_WalkwayBold.ttf"); }

/**********/
/* global */
/**********/
html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    overflow: hidden;
}


* {
    font-family: 'Oxygen', sans-serif;
    font-size: 12px;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.flex-container {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-around;
    justify-content: space-around;
    -webkit-flex-direction: column;
    flex-direction: column;
    width: 100%;
    height: 100%;
    border: 1px solid lightgrey;
    border-radius: 10px;
    background-color: #fff;
    box-sizing: border-box;
    padding-top: 25px;
}


.info {
    z-index: 1;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 25px;
    background-color: #f0f0f0;
    border: 1px solid lightgrey;
    border-radius: 10px 10px 0 0;
    vertical-align: middle;
    text-align: left;
    line-height: 20px;
    font-size: 18px;
    padding-left: 10px;
}

.info-long {
    z-index: 2;
    opacity: 0;
    position: absolute;
    top: 0;
    right: 0;
    min-width: 20px;
    height: 20px;
    background-color: white;
    border: 1px solid lightgrey;
    border-radius: 0 10px 0 10px;
    vertical-align: middle;
    text-align: center;
    line-height: 14px;
    font-size: 18px;
    padding: 0 5px;
}

.opacity:hover {
    opacity: 1;
}

.info-anchor {
    display: block;
    width: 100%;
    height: 100%;
    padding-top: 2px;
}

.info0 {
    font-family:'Walkway Bold', sans-serif;
    color: #000000;
    text-decoration: none;
}

.info1 {
    font-family:'Walkway Bold', sans-serif;
    color: #444445;
    text-decoration: none;
}

.info2 {
    font-family:'Walkway Bold', sans-serif;
    color: #3fa3d7;
    text-decoration: none;
}

.close {
    font-family:'Walkway Bold', sans-serif;
    color: #444445;
    float: right;
    line-height: 23px;
    font-size: 22px;
    margin-right: 3px;
    font-weight: bold;
    padding: 0 10px;
}

a.anchor {
    color: #0d8ba1;
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
    text-decoration: none;
    display: block;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 4%;
}

.redarrow {
    color: red;
    font-size: 14px;
}

/********************/
/* placement awatar */
/********************/

.awatar-flex {
    height: 50%;
    width: 100%;
}

.awatar-flex-content {
    height: 100%;

}

.awatar-info {
    display: flex;
    height: 67%;
    margin-top: 1%;
}

.awatar-title {
    height: 33%;
    width: 100%;
    font-size: 1.8em;
    font-weight: bold;
    text-align: left;
    white-space: nowrap;

}

.awatar-image-wrapper {
    flex: 3;
    margin-right: 2%;

}

.awatar-image {
    border: 1px solid lightgrey;
    box-sizing: border-box;
    max-width: 100%;
    max-height: 100%;
    padding: 2px;
}

.awatar-text {
    flex: 7;
    height: 100%;
    position: relative;
    font-size: 1.1em;
    line-height: 1.4em;
    color: black;
}



/***********************/
/* placement text 2 */
/***********************/

.text2-flex {
    height: 50%;
    width: 100%;
}

.text2-flex-content {
    height: 100%;

}

.text2-title {
    height: 32%;
    width: 100%;
    font-size: 1.8em;
    font-weight: bold;
    text-align: left;
    white-space: nowrap;

}

.text2-info {
    display: flex;
    height: 68%;
}

.text2-arrow-wrapper {
    width: 15%;
    margin-left: 2%;
    margin-top: 2%;
    padding: 1%;

}

.text2-arrow {
    max-width:100%;
    max-height: 100%;
}

.text2-text {
    width: 85%;
    height: 100%;
    position: relative;
    font-size: 1.1em;
    line-height: 1.4em;
    color: black;
}



/***********************/
/* placement text 1 */
/***********************/

.text1-flex {
    height: 100%;
}


.text1-center {
    display: flex;
    height: 100%;
    align-items: center;
}


.text1-inside {
    height: 70%;
    width: 100%;
}

.text1-title {
    height: 30%;
    max-height: 30%;
    width: 100%;
    font-size: 2.0em;
    font-weight: bold;
    text-align: center;
}

.text1-text {
    height: 30%;
    max-height: 30%;
    text-align: center;
    font-size: 1.2em;
    line-height: 1.4em;
    color: black;
}

.text1-arrow-wrapper {
    margin: 0 auto;
    padding: 2%;
    width: 15%;
    height: 100%;
}

.text1-arrow-master-wrapper {
    height: 30%;
    max-height: 30%;
}

.text1-arrow {
    max-width:100%;
    max-height: 100%;
}

.text1-link {
    height: 10%;
    max-height: 10%;
    margin: 0 auto;
    margin-top: 5%;
    text-align: center;
    padding: 1%;
}

/***********************/
/* placement exclusive */
/***********************/
.exclusive-flex {
    flex:1;
    width: 100%;
    height: 100%;
}

.exclusive-center {
    display: flex;
    height: 100%;
    align-items: center;
    flex-direction: column;
}

.exclusive-title {
    flex: 2;
    width: 100%;
    font-size: 1.8em;
    font-weight: bold;
    text-align: center;

}

.exclusive-image {
    border-bottom: 1px solid lightgrey;
    padding-bottom: 1px;
    max-width: 100%;
    max-height: 100%;
}

.exclusive-image-wrapper {
    flex: 8;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

}

.exclusive-text {
    flex: 2;
    text-align: center;
    font-size: 1.1em;
    line-height: 1.4em;
    color: black;
}

.exclusive-link {
    flex: 1;
    width: 100%;
    text-align: center;
}

.exclusive-redarrow {
    color: red;
    font-size: 14px;
}

/*******************/
/* placement image */
/*******************/

.image-image-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
}

.image-flex {
    width: 100%;
    height: 100%;
}

.image-image {
    max-height: 100%;
    max-width: 100%;

    position: absolute;
    margin: auto;
    top: 25px;
    left: 0;
    bottom: 0;
    right: 0;
}

.click-margin {
    position: absolute;
    width: 100%;
    height: 25px;
    top: 25px;
    z-index: 1;
}