/*to jest content*/
#bsPhotoGalleryModal .modal-content {
    border-radius:0;
    }
#bsPhotoGalleryModal .modal-dialog img {
    text-align:center;
    margin:0 auto;
    width:100%;
    height:100%;
}

/* to pokazuje parametry tego okienka */
#bsPhotoGalleryModal .modal-body {
    padding:0px !important;
    /*width:1280px;*/
    width:1000px;
    /*vertical-align: middle;*/
    }

#bsPhotoGalleryModal .bsp-close {
  position: absolute;
  right: -14px;
  top: -11px;
  font-size: 30px;
  color:#fff;
  text-shadow: 1px 1px 18px #000;
  }
  
/*to jest przycisk do zamykania*/
#bsPhotoGalleryModal .bsp-close:hover {
  cursor: pointer;
  opacity:.6;
  text-shadow: none;
  }

.bspHasModal {
  cursor: pointer;
  }
.bspHasModal .text {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  }
.imgWrapper {
  overflow: hidden;
  max-height: 99px;
}

a.bsp-controls,
a.bsp-controls:visited,
a.bsp-controls:active {
  position: absolute;
  top: 44%;
  font-size: 26px;
  color: #fff;
  text-shadow: 1px 1px 18px #000;
}
/* ten wskazuje nastepny*/  
a.bsp-controls.next {
  right:-10px;
  }

/* ten wskazuje poprzedni*/  
a.bsp-controls.previous {
  left:-10px;
  }

/* ten wskazuje co sie dzieje jak sie najedzie */
a.bsp-controls:hover {
  opacity:.6;
  text-shadow: none;
  }

.bsp-text-container {
  clear:both;
  display:block;
  padding-bottom: 5px;
  }
#bsPhotoGalleryModal h6{
  margin-bottom: 0;
  font-weight: bold;
  color: #000;
  font-size: 14px;
  padding-left: 12px;
  padding-right: 12px;
  margin-bottom: 5px;
  }
#bsPhotoGalleryModal .pText {
  font-size: 11px;
  margin-bottom: 0px;
  padding: 0 12px 5px;
  }


@media screen and (max-width: 128px){
   .col-xxs-12 {
     width:100%;
     height:100%;

   }
   .col-xxs-12 img {
     width:100%;
     height:100%;
   }
}
/* sprawdzic czy ta strona w ogole cos zmienia, np przez czcionke */