#welcome {
/*  background: white url("images/background.jpg") no-repeat right bottom;*/

}

html {
  font-family: 'Roboto Slab';
  background-color: #EEEEEE;
  font-size: large;
}

body {
  background: white url("images/flower-1031673_1280.jpg") no-repeat right bottom;
  /*background-color: #FFFFFF;*/
  width: 100%;
  margin: 0px;
  position: relative;
}

header, nav, nav a {
  background-color: #4A9586;
  color: #FFFFFF;
}

header {
  
  text-align: center;
  font-size: 200%;
  padding: 10px 0px;
  color: #FFFFFF;
  background: white url("images/photos_2015_09_18_fst_119i8c8vshz.jpg") no-repeat right bottom;

}

.logout, .logout:hover {
  background-color: #3B5998;
  position: absolute;
  top: 0;
  right: 0;
  font-size: 10%;
  padding-left: 1%;
  padding-right: 1%;
  color: #FFFFFF;
}

nav {
  display: table;
  width: 100%;
  font-size: 80%;
  line-height: 200%;
  margin-top: -1px;
}

.nav_links {
  display: table-row;
}

.nav_link {
  display: table-cell;
  text-align: center;
}

.nav_link a {
  text-decoration: none;
  transition: 0.5s;
}

.nav_link a:hover {
  color: #000000;
}

main {
  display: block; 
  padding: 0px 20px;
  
}

a {
  color: #007BE6;
  text-decoration: none;
  transition: 0.3s
}

a:hover {
  color: #7FDBFF;
}

figure {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid black;
}

figure img {
  display: block;
  width: 100%;
  height: auto;
}

video {
  width: 100%;
  height: auto;
}

figcaption {
  background-color: #FFFFFF;
  font-size: 70%;
  text-align: center;
  font-style: italic;
  padding-top: 5px;
  padding-bottom: 5px;
  opacity: 0.9;
  border-top: 1px solid black;
}

.youtube {
  position:relative;
	padding-bottom:56.25%;
	padding-top:30px;
  margin-bottom: 15px;
	height:0;
	overflow:hidden;
}

.youtube iframe {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
}

footer {
  margin: 100px 0px 0px 0px;
  padding: 0px 0px 20px 0px;
  text-align: center;
}

footer hr {
  width: 25%;
  margin-bottom: 25px;
}

.external_link {
  display: inline;
}

.external_link img {
  width: 30px;
  height: 30px;
  opacity: 0.5;
  transition: 0.5s
}

.external_link img:hover {
  opacity: 1;
}


@media only screen and (min-width: 568px) {
  /* iPad down */
  html {
    font-size: x-large;
  }

  header {
    font-size: 300%;
    padding: 25px 0px;
  }

  nav {
    font-size: 100%;
  }

  main {
    padding: 0px 30px;
  }

}


@media only screen and (min-width: 769px) {
  /* Small Desktop screens */

  header {
    font-size: 550%;
    padding: 40px 0px;
  }

  nav {
    font-size: 120%;
  }

  main {
    padding: 0px 40px;
  }

}


@media only screen and (min-width: 1024px) {
  /* Big Desktop screens */
  body {
    width: 1024px;
    margin: 30px auto;
  }

  nav {
    font-size: 140%;
  }

  main {
    padding: 0px 50px;
  }

}
